clio-api-helper-temp-.json
{
  "updatedAt": "2026-02-28T18:40:23.018Z",
  "createdAt": "2026-02-28T18:40:23.018Z",
  "id": "B3OixKDvMR7lrPpn",
  "name": "Clio API Helper (temp)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "clio-query",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-clio-query",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "REDACTED-POSSIBLE-SECRET",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {}
      },
      "id": "clio-get-fields",
      "name": "Get Custom Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Custom Fields": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-28T18:40:23.037Z",
      "createdAt": "2026-02-28T18:40:23.037Z",
      "role": "workflow:owner",
      "workflowId": "B3OixKDvMR7lrPpn",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_sanitized": {
    "note": "Sanitized for public sharing",
    "timestamp": "2026-02-28T19:00:19.254Z"
  }
}