faktury.json
{
  "updatedAt": "2026-01-25T20:37:31.328Z",
  "createdAt": "2026-01-25T20:34:18.781Z",
  "id": "REDACTED-POSSIBLE-SECRET",
  "name": "Faktury",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        96
      ],
      "id": "REDACTED-UUID",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "sheetName": {
          "__rl": true,
          "value": 1635680095,
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "Get row(s) in sheet / Previously processed mails log",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Get many messages and attachments",
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "from.value[0].address",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Edit fields / Only keep necessary data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $('Edit fields / Only keep necessary data').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Filter / Filter out messages without attachments"
    },
    {
      "parameters": {
        "jsCode": "// This script processes each incoming email item.\n// For each email, it inspects all its binary attachments and retains only the PDF ones.\n// Email items without any PDF attachments will still be output, but their 'binary' object will be empty.\n\nconst outputItems = []; // Array to store all modified email items\n\n// Iterate over each email item coming from the previous node (e.g., 'Get many messages')\nfor (const originalItem of $input.all()) {\n\n  // Create a new item object to modify, preserving original JSON data\n  const newItem = {\n    json: { ...originalItem.json }, // Copy original JSON data\n    binary: {} // Initialize an empty binary object for the new item\n  };\n\n  // Check if the original item has any binary data attached to it\n  if (originalItem.binary) {\n\n    // Get an array of all keys (names) of binary attachments for this item\n    const binaryKeys = Object.keys(originalItem.binary);\n\n    // Iterate over each binary attachment found for the current item\n    for (const binaryKey of binaryKeys) {\n\n      // Access the actual binary data object (which contains metadata like mimeType, fileName)\n      const binaryObject = originalItem.binary[binaryKey];\n\n      // Ensure the binary object exists and is a valid object before processing\n      if (binaryObject && typeof binaryObject === 'object') {\n        const mimeType = binaryObject.mimeType ? binaryObject.mimeType.toLowerCase() : '';\n        const fileName = binaryObject.fileName ? binaryObject.fileName.toLowerCase() : '';\n\n        // Check if the current binary attachment is a PDF\n        if (mimeType === 'application/pdf' || fileName.endsWith('.pdf')) {\n          // If it's a PDF, add this binary object to the newItem's binary property\n          // This keeps the original binary reference intact\n          newItem.binary[binaryKey] = binaryObject;\n        }\n      }\n    }\n  }\n  // Add the modified item (with only PDF binary attachments) to our results array\n  outputItems.push(newItem);\n}\n\n// Return the array of all modified email items.\n// Each element in this array will be a separate item for the next node,\n// containing its original JSON data and only its PDF binary attachments.\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Code / Only keep PDFs"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "ID"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        96
      ],
      "id": "REDACTED-UUID",
      "name": "Merge / Deduplicate messages with log",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $('Merge / Deduplicate messages with log').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        96
      ],
      "id": "REDACTED-UUID",
      "name": "If / Verify whether an email contains an attachment"
    },
    {
      "parameters": {
        "jsCode": "// This code processes emails with multiple attachments and creates separate items for each attachment.\n// Each output item contains the full email data + only ONE binary attachment.\n// This allows the Upload node to process each attachment individually without duplication.\n\nconst results = [];\n\n// Process each input item (email)\nfor (const item of $input.all()) {\n  const emailData = item.json;\n  const binaryAttachments = item.binary || {};\n  \n  // Get all binary attachment keys (e.g., [\"attachment_0\", \"attachment_1\"])\n  const attachmentKeys = Object.keys(binaryAttachments);\n  \n  // If no attachments exist, skip this item\n  // (This should not happen as we already filtered, but safety check)\n  if (attachmentKeys.length === 0) {\n    console.log(`No attachments found for email ID: ${emailData.id}`);\n    continue;\n  }\n  \n  // Create a separate item for EACH attachment\n  for (const attachmentKey of attachmentKeys) {\n    const newItem = {\n      json: {\n        // Keep all original email data\n        ...emailData,\n        // Add helper fields\n        message_id: emailData.id,\n        attachments: attachmentKey  // Single attachment name (not array!)\n      },\n      binary: {\n        // ONLY include this ONE attachment\n        [attachmentKey]: binaryAttachments[attachmentKey]\n      }\n    };\n    \n    results.push(newItem);\n  }\n}\n\n// Log summary\nconsole.log(`Processed ${$input.all().length} email(s) into ${results.length} item(s) with individual attachments`);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        96
      ],
      "id": "REDACTED-UUID",
      "name": "Code / Attachments separator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "binary",
              "value": "={{ $json.attachments }}",
              "type": "binary"
            },
            {
              "id": "REDACTED-UUID",
              "name": "attachments",
              "value": "={{ $json.attachments }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields / IDs, Binaries and Attachment names"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "binary",
              "value": "={{ $json.attachments }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        160
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields / Attachments only"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $('Edit Fields / Attachments only').item.binary.binary }}",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1,
      "position": [
        1744,
        160
      ],
      "id": "REDACTED-UUID",
      "name": "Extract from File / Message attachments"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1,
      "position": [
        1952,
        320
      ],
      "id": "REDACTED-UUID",
      "name": "Google Gemini Chat model 2.5 flash"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"fileName\": \"name\",\n  \"is_invoice\": true,\n  \"document_type\": \"invoice\",\n  \"transaction_type\": \"purchase\",\n  \"amount\": 1234.56,\n  \"currency\": \"USD\",\n  \"issuer\": \"Company Name Inc.\",\n  \"confidence_score\": 0.95,\n  \"notes\": \"Brief explanation if any ambiguity exists\"\n}"
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1.3,
      "position": [
        2096,
        320
      ],
      "id": "REDACTED-UUID",
      "name": "Structured Output Parser / Invoice analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an expert financial document analyst specializing in invoice processing, categorization, and validation.\n\n# TASK\nAnalyze the provided PDF document and:\n1. Determine if it is a valid financial document requiring accounting records\n2. Classify whether it's an invoice or a receipt\n3. Extract key financial information\n4. Classify the transaction type (purchase vs sale)\n\n# OUR COMPANY INFORMATION\n- Company names: \"Backpack AI\", \"Lammel\", or any variation (e.g., \"Backpack\", \"Leszek Lammel\")\n- Use this to determine if we are the seller or buyer\n\n# STEP 1: DOCUMENT VALIDATION\n\nFirst, determine if this document is a valid financial document requiring accounting.\n\n**Classify as VALID FINANCIAL DOCUMENT (is_invoice: true) if ANY of the following are present:**\n- A clear \"Invoice Number\", \"Receipt Number\", or transaction ID is listed\n- Document is labeled as \"Invoice\", \"Bill\", or \"Receipt\" with financial transaction elements\n- There is a structured table with line items, quantities, and prices\n- Terms like \"Amount Due\", \"Amount Paid\", \"Total Amount\", \"Payment Terms\" are present\n- Document shows a completed or pending transaction between two parties with amounts\n\n**NOT a valid financial document (is_invoice: false) if:**\n- Simple order confirmation (e.g., \"Your order is being processed\")\n- Shipping notice without pricing\n- Quote or estimate (not finalized)\n- Generic acknowledgment without transaction details or amounts\n\n# STEP 2: INVOICE vs RECEIPT CLASSIFICATION (if is_invoice = true)\n\nDetermine whether the document is an invoice or a receipt:\n\n## INVOICE (document_type: \"invoice\")\n**Classify as INVOICE if ANY of the following are true:**\n- Labeled as \"Invoice\", \"Bill\", \"Pro Forma Invoice\"\n- Contains \"Amount Due\", \"Payment Terms\", \"Due Date\", \"Please Pay\"\n- Shows outstanding balance or payment request\n- Issued BEFORE or AT THE TIME of payment\n- Purpose: requesting payment from customer\n\n## RECEIPT (document_type: \"receipt\")\n**Classify as RECEIPT if ANY of the following are true:**\n- Labeled as \"Receipt\", \"Payment Receipt\", \"Proof of Payment\"\n- Contains \"Amount Paid\", \"Payment Received\", \"Thank you for your payment\"\n- Shows zero balance or confirms payment completion\n- Contains payment method details (card ending in XXXX, transaction ID)\n- Issued AFTER payment has been made\n- Purpose: confirming payment was received\n\n**CRITICAL RULE:** Modern payment processors (Stripe, PayPal, etc.) often send documents labeled \"Receipt\" that contain invoice numbers and line items. These should be classified as \"receipt\" if they confirm payment completion, even if they have invoice-like elements.\n\n**If unclear:** Look for payment confirmation language (\"paid\", \"payment received\", \"thank you\") → Receipt. Look for payment request language (\"due\", \"please pay\", \"amount owed\") → Invoice.\n\n# STEP 3: TRANSACTION CLASSIFICATION (if is_invoice = true)\n\n## Purchase vs Sale Detection\n\n**Classify as PURCHASE if:**\n- The document shows we (Backpack AI / Lammel) owe or paid money to another party\n- Document is addressed TO us (Backpack AI or Lammel in \"Bill To\", \"Customer\", or recipient field)\n- Terms like \"Amount Due\", \"Payment Terms\", \"Please Pay\" are directed at us\n- The issuing company is NOT Backpack AI or Lammel (it's a vendor/supplier)\n- We are the customer/buyer receiving goods or services\n\n**Classify as SALE if:**\n- The document shows another party owes or paid money to us (Backpack AI / Lammel)\n- Document is issued BY us (Backpack AI or Lammel in \"From\", \"Seller\", or header field)\n- We are requesting payment from the customer or confirming their payment\n- The recipient company is a client (and we are Backpack AI / Lammel)\n- Backpack AI or Lammel appears as the seller/vendor/service provider\n\n**If unclear:** Check who issued the document - if it's Backpack AI or Lammel, it's a SALE. Otherwise, default to PURCHASE.\n\n# STEP 4: DATA EXTRACTION (if is_invoice = true)\n\n## Amount\n- Extract the TOTAL amount (final amount due/paid)\n- Use the largest/final figure, typically labeled as: \"Total\", \"Grand Total\", \"Amount Due\", \"Amount Paid\", \"Total Amount\", \"Balance Due\"\n- Ignore subtotals, tax amounts, or line items unless they represent the total\n- Return as numeric value only (e.g., 1234.56)\n- If multiple currency amounts, use the primary/largest one\n\n## Currency\n- Extract currency code (USD, EUR, GBP, PLN, etc.)\n- Look for currency symbols ($, €, £, zł) or ISO codes\n- If currency is implicit (e.g., US company, $ symbol), infer: USD\n- If not found, return: \"USD\" (default assumption)\n- Convert symbols to ISO codes: $ → USD, € → EUR, £ → GBP, zł → PLN\n\n## Issuer\n- Extract the name of the company/entity that ISSUED the document\n- This is typically found in: \"From\", \"Seller\", \"Vendor\", company logo/header\n- Return the official company name (not recipient name)\n- If multiple names appear, choose the one in the header/top position\n\n# OUTPUT FORMAT\n\nRespond with a raw JSON object only, without markdown formatting, comments, or additional text:\n\n{\n  \"fileName\": \"actual_filename.pdf\",\n  \"is_invoice\": true,\n  \"document_type\": \"invoice\",\n  \"transaction_type\": \"purchase\",\n  \"amount\": 1234.56,\n  \"currency\": \"USD\",\n  \"issuer\": \"Company Name Inc.\",\n  \"confidence_score\": 0.95,\n  \"notes\": \"Brief explanation of classification and any ambiguities\"\n}\n\n# FIELD REQUIREMENTS\n\n- **fileName**: Always required - use the exact filename provided\n- **is_invoice**: Always required (true/false) - true if valid financial document\n- **document_type**: Required if is_invoice=true (\"invoice\" or \"receipt\"), null if is_invoice=false\n- **transaction_type**: Required if is_invoice=true (\"purchase\" or \"sale\"), null if is_invoice=false\n- **amount**: Required if is_invoice=true, null if is_invoice=false\n- **currency**: Required if is_invoice=true, null if is_invoice=false\n- **issuer**: Required if is_invoice=true, null if is_invoice=false\n- **confidence_score**: Always required (0.0-1.0)\n- **notes**: Always required - explain your decision and classification reasoning\n\n# CRITICAL RULES\n\n1. **Always return valid JSON** - no markdown code blocks, no extra text\n2. **If NOT a financial document**: Set is_invoice=false and all other fields (except fileName, confidence_score and notes) to null\n3. **document_type must be lowercase** - \"invoice\" or \"receipt\" only\n4. **Amount must be numeric** - remove currency symbols, commas, spaces (e.g., \"$1,234.56\" becomes 1234.56)\n5. **Currency as ISO code** - USD, EUR, GBP, PLN (not symbols)\n6. **Be decisive** - provide your best analysis even if some data is unclear\n7. **Company name matching** - Look for \"Backpack AI\", \"Lammel\", \"Backpack\", or \"Leszek Lammel\" to determine transaction direction\n8. **fileName must match input exactly** - copy the provided filename without modification\n9. **Distinguish invoice vs receipt carefully** - invoices request payment, receipts confirm payment\n\n# EDGE CASES\n\n- **Credit Note/Refund:** Classify as \"receipt\" (payment adjustment), note in \"notes\" field\n- **Multi-currency:** Use the primary/total amount currency\n- **Partial payments:** Extract the total document amount, not partial payment amounts\n- **Pro forma invoices:** Classify as \"invoice\" (document_type: \"invoice\")\n- **Missing data:** If critical data is missing from a valid document, indicate in \"notes\" and provide best estimate or null\n- **Stripe/PayPal receipts with invoice numbers:** Classify as \"receipt\" if payment is confirmed\n\n# EXAMPLE OUTPUTS\n\n**Example 1 - Purchase Invoice:**\n\n{\n  \"fileName\": \"Invoice-12345.pdf\",\n  \"is_invoice\": true,\n  \"document_type\": \"invoice\",\n  \"transaction_type\": \"purchase\",\n  \"amount\": 2500.00,\n  \"currency\": \"USD\",\n  \"issuer\": \"Office Supplies Pro LLC\",\n  \"confidence_score\": 0.98,\n  \"notes\": \"Valid invoice from Office Supplies Pro to Backpack AI requesting payment - purchase invoice\"\n}\n\n**Example 2 - Purchase Receipt:**\n\n{\n  \"fileName\": \"Receipt-2844-5179.pdf\",\n  \"is_invoice\": true,\n  \"document_type\": \"receipt\",\n  \"transaction_type\": \"purchase\",\n  \"amount\": 18.00,\n  \"currency\": \"USD\",\n  \"issuer\": \"Loom, Inc.\",\n  \"confidence_score\": 0.95,\n  \"notes\": \"Payment receipt from Loom confirming payment received - purchase receipt\"\n}\n\n**Example 3 - Sale Invoice:**\n\n{\n  \"fileName\": \"ClientInvoice-2024-001.pdf\",\n  \"is_invoice\": true,\n  \"document_type\": \"invoice\",\n  \"transaction_type\": \"sale\",\n  \"amount\": 15750.50,\n  \"currency\": \"EUR\",\n  \"issuer\": \"Backpack AI\",\n  \"confidence_score\": 0.95,\n  \"notes\": \"Invoice issued by Backpack AI to client XYZ Corp requesting payment - sale invoice\"\n}\n\n**Example 4 - NOT a Financial Document:**\n\n{\n  \"fileName\": \"OrderConfirmation-789.pdf\",\n  \"is_invoice\": false,\n  \"document_type\": null,\n  \"transaction_type\": null,\n  \"amount\": null,\n  \"currency\": null,\n  \"issuer\": null,\n  \"confidence_score\": 0.90,\n  \"notes\": \"Order confirmation email without transaction details or amounts - not a financial document\"\n}\n\n**Example 5 - Sale Receipt:**\n\n{\n  \"fileName\": \"PaymentReceipt-5521.pdf\",\n  \"is_invoice\": true,\n  \"document_type\": \"receipt\",\n  \"transaction_type\": \"sale\",\n  \"amount\": 5000.00,\n  \"currency\": \"EUR\",\n  \"issuer\": \"Backpack AI\",\n  \"confidence_score\": 0.97,\n  \"notes\": \"Receipt issued by Backpack AI confirming client payment received - sale receipt\"\n}\n\n---\n\n# DOCUMENT TO ANALYZE:\n\n**File name:** {{ Object.values($binary)[0].fileName }}\n\n**PDF content:**\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 7000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1952,
        160
      ],
      "id": "REDACTED-UUID",
      "name": "Basic LLM Chain / PDF analysis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "id",
              "value": "={{ $('Code / Attachments separator').item.json.id }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "message.date",
              "value": "={{ $('Code / Attachments separator').item.json.date }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "message.subject",
              "value": "={{ $('Code / Attachments separator').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "message.from",
              "value": "={{ $('Code / Attachments separator').item.json.from }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "message.message_id",
              "value": "={{ $('Code / Attachments separator').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "message.attachments",
              "value": "={{ $('Code / Attachments separator').item.json.attachments }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.fileName",
              "value": "={{ $json.output.fileName }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.is_invoice",
              "value": "={{ $json.output.is_invoice }}",
              "type": "boolean"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.transaction_type",
              "value": "={{ $json.output.transaction_type }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.amount",
              "value": "={{ $json.output.amount }}",
              "type": "number"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.currency",
              "value": "={{ $json.output.currency }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.issuer",
              "value": "={{ $json.output.issuer }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "output.document_type",
              "value": "={{ $json.output.document_type }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "bianary",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        160
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields / LLM Output"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            },
            {
              "field1": "attachments",
              "field2": "message.attachments"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        112
      ],
      "id": "REDACTED-UUID",
      "name": "Merge / Final"
    },
    {
      "parameters": {
        "jsCode": "// This code deduplicates documents per email:\n// - Keeps INVOICE if both invoice and receipt exist\n// - Keeps only ONE receipt if no invoice exists\n\nconst deduplicatedItems = [];\n\n// Group items by email ID\nconst emailGroups = {};\n\nfor (const item of $input.all()) {\n  const emailId = item.json.message.message_id;\n  \n  if (!emailGroups[emailId]) {\n    emailGroups[emailId] = [];\n  }\n  \n  emailGroups[emailId].push(item);\n}\n\n// Process each email group - keep only 1 document per email\nfor (const emailId in emailGroups) {\n  const items = emailGroups[emailId];\n  \n  // Try to find an invoice first\n  const invoice = items.find(item => item.json.output.document_type === 'invoice');\n  \n  if (invoice) {\n    // If invoice exists, use it\n    deduplicatedItems.push(invoice);\n  } else {\n    // No invoice found, keep only the FIRST receipt\n    deduplicatedItems.push(items[0]);\n  }\n}\n\nconsole.log(`Deduplicated: ${$input.all().length} items → ${deduplicatedItems.length} items (1 per email)`);\n\nreturn deduplicatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        112
      ],
      "id": "REDACTED-UUID",
      "name": "Code / Deduplicate"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Merge / Final').item.binary.binary }}",
        "name": "={{ new Date($json.message.date).toISOString().split('T')[0] }}-{{ $json.output.issuer.replace(/[^a-zA-Z0-9]/g, '_') }}-{{ $json.output.transaction_type }}-{{ $json.output.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3008,
        112
      ],
      "id": "REDACTED-UUID",
      "name": "Upload file",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "sheetName": {
          "__rl": true,
          "value": 1635680095,
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date($('Merge / Final').item.json.message.date).toISOString().split('T')[0] }}",
            "From": "={{ JSON.parse($('Merge / Final').item.json.message.from).value[0].address }}",
            "Subject": "={{ $('Merge / Final').item.json.message.subject }}",
            "ID": "={{ $('Merge / Final').item.json.message.message_id }}",
            "Nazwa księgowa": "={{ new Date($('Merge / Final').item.json.message.date).toISOString().split('T')[0] }}-{{ $('Merge / Final').item.json.output.issuer.replace(/[^a-zA-Z0-9]/g, '_') }}-{{ $('Merge / Final').item.json.output.transaction_type }}",
            "Typ faktury": "={{ $('Merge / Final').item.json.output.transaction_type }}",
            "Kwota faktury": "={{ $('Merge / Final').item.json.output.amount }}",
            "Przedmiot faktury": "={{ $('Merge / Final').item.json.output.issuer }}",
            "Link do faktury": "={{ $json.webViewLink }}",
            "Nazwa dokumentu": "={{ $json.name }}",
            "Kwota w zł": "=",
            "Waluta": "={{ $('Merge / Final').item.json.output.currency }}"
          },
          "matchingColumns": [
            "Nazwa dokumentu"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Typ faktury",
              "displayName": "Typ faktury",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kwota faktury",
              "displayName": "Kwota faktury",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Waluta",
              "displayName": "Waluta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kwota w zł",
              "displayName": "Kwota w zł",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nazwa księgowa",
              "displayName": "Nazwa księgowa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nazwa dokumentu",
              "displayName": "Nazwa dokumentu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link do faktury",
              "displayName": "Link do faktury",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Przedmiot faktury",
              "displayName": "Przedmiot faktury",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3232,
        112
      ],
      "id": "REDACTED-UUID",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "REDACTED@email.com",
        "subject": "[n8n ERROR] Faktury workflow had issues uploading file",
        "emailType": "text",
        "message": "=message id:  {{ $('Merge3').item.json.message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3184,
        304
      ],
      "id": "REDACTED-UUID",
      "name": "Send a message",
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "sendTo": "REDACTED@email.com",
        "subject": "[n8n ERROR] Faktury workflow had issues updating log",
        "emailType": "text",
        "message": "=message id:  {{ $('Merge2').item.json.message_id }}\nfile name: {{ $('Upload file').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3424,
        304
      ],
      "id": "REDACTED-UUID",
      "name": "Send a message2",
      "webhookId": {
        "_redacted": true
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages and attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet / Previously processed mails log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet / Previously processed mails log": {
      "main": [
        [
          {
            "node": "Merge / Deduplicate messages with log",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many messages and attachments": {
      "main": [
        [
          {
            "node": "Edit fields / Only keep necessary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit fields / Only keep necessary data": {
      "main": [
        [
          {
            "node": "Filter / Filter out messages without attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter / Filter out messages without attachments": {
      "main": [
        [
          {
            "node": "Code / Only keep PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code / Only keep PDFs": {
      "main": [
        [
          {
            "node": "Merge / Deduplicate messages with log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge / Deduplicate messages with log": {
      "main": [
        [
          {
            "node": "If / Verify whether an email contains an attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If / Verify whether an email contains an attachment": {
      "main": [
        [
          {
            "node": "Code / Attachments separator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code / Attachments separator": {
      "main": [
        [
          {
            "node": "Edit Fields / IDs, Binaries and Attachment names",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields / Attachments only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields / IDs, Binaries and Attachment names": {
      "main": [
        [
          {
            "node": "Merge / Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields / Attachments only": {
      "main": [
        [
          {
            "node": "Extract from File / Message attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File / Message attachments": {
      "main": [
        [
          {
            "node": "Basic LLM Chain / PDF analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat model 2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain / PDF analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser / Invoice analysis": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain / PDF analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain / PDF analysis": {
      "main": [
        [
          {
            "node": "Edit Fields / LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields / LLM Output": {
      "main": [
        [
          {
            "node": "Merge / Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge / Final": {
      "main": [
        [
          {
            "node": "Code / Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code / Deduplicate": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-25T20:34:18.783Z",
      "createdAt": "2026-01-25T20:34:18.783Z",
      "role": "workflow:owner",
      "workflowId": "REDACTED-POSSIBLE-SECRET",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_sanitized": {
    "note": "Sanitized automatically",
    "timestamp": "2026-01-25T22:47:14.889Z"
  }
}