github-backup.json
{
  "updatedAt": "2026-01-30T15:21:20.017Z",
  "createdAt": "2026-01-30T15:02:17.908Z",
  "id": "MEoPapEMerX4poeNyYT-p",
  "name": "GitHub Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Set date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -2672,
        128
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -2448,
        128
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Set commit date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2224,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "REDACTED",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Wiktor-Potapczyk",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "filePath": "="
      },
      "id": "REDACTED-UUID",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2000,
        128
      ],
      "alwaysOutputData": true,
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1776,
        128
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "REDACTED-UUID",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1536,
        128
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1296,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "REDACTED-UUID",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1056,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "REDACTED",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Wiktor-Potapczyk",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "filePath": "={{ $('Diff').item.json.anonymizedWorkflow.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ JSON.stringify($('Diff').item.json.anonymizedWorkflow, null, 2) }}",
        "commitMessage": "={{ $('Basic LLM Chain').item.json.text }}"
      },
      "id": "REDACTED-UUID",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        624,
        352
      ],
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "authentication": "REDACTED",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Wiktor-Potapczyk",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "filePath": "={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=created {{ $json.name }} ({{ $node['Set commit date'].json.commitDate }})"
      },
      "id": "REDACTED-UUID",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -544,
        256
      ],
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2896,
        128
      ],
      "id": "REDACTED-UUID",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "REDACTED",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Wiktor-Potapczyk",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "filePath": "={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -848,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Get a file",
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1.1,
      "position": [
        -640,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "repo",
              "value": "={{ $json.data }}",
              "type": "object"
            },
            {
              "id": "REDACTED-UUID",
              "name": "new",
              "value": "={{ $('Split to single items').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a semantic commit message for these workflow changes.\n\nFormat: type(scope): description\n- Types: feat (new feature), fix (bug fix), refactor (code improvement), chore (maintenance)\n- Scope: node name or \"workflow\" (use short form, e.g. \"code\" not \"Code in JavaScript\")\n- Max 60 characters total\n- Output ONLY the commit message, nothing else\n- No quotes, no markdown, no explanation\n\nExamples:\n- feat(code): add CV type detection based on job title\n- fix(sheets): correct column mapping for job data\n- feat(workflow): add response timestamp node\n- refactor(code): simplify row matching logic\n\n### WORKFLOW: {{ $json.workflowName }}\n\n### CHANGES:\n{{ $json.summary }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const workflow = $('Split to single items').first().json;\nconst sanitized = JSON.parse(JSON.stringify(workflow));\n\n// ==========================================\n// 🔒 CONFIGURATION\n// ==========================================\n\nconst SENSITIVE_KEY_NAMES = [\n  /api[-_]?key/i, /secret/i, /token/i, /password/i, /passwd/i,\n  /bearer/i, /authorization/i, /auth/i, /credential/i,\n  /rapidapi/i, /openai/i, /anthropic/i, /deepseek/i,\n  /private[-_]?key/i, /access[-_]?key/i, /client[-_]?secret/i,\n];\n\nconst SENSITIVE_VALUE_PATTERNS = [\n  { regex: /^sk-[a-zA-Z0-9]{20,}/ },\n  { regex: /^sk-ant-[a-zA-Z0-9-]{20,}/ },\n  { regex: /^xai-[a-zA-Z0-9]{20,}/ },\n  { regex: /^AIza[a-zA-Z0-9_-]{35}/ },\n  { regex: /^ghp_[a-zA-Z0-9]{36}/ },\n  { regex: /^gho_[a-zA-Z0-9]{36}/ },\n  { regex: /^xoxb-[a-zA-Z0-9-]+/ },\n  { regex: /^xoxp-[a-zA-Z0-9-]+/ },\n  { regex: /^(postgres|mysql|mongodb|redis):\\/\\/[^\\s]+/ },\n  { regex: /^Basic\\s+[A-Za-z0-9+/=]{10,}/ },\n  { regex: /^Bearer\\s+[A-Za-z0-9._-]{10,}/ },\n  { regex: /https?:\\/\\/[^:]+:[^@]+@/ },\n];\n\nconst ALWAYS_REDACT_KEYS = [\n  'credentials', 'webhookId', 'cachedResultUrl', 'cachedResultName',\n  'instanceId', 'projectId', 'pinData', 'meta',\n];\n\n// ==========================================\n// 🔧 HELPERS\n// ==========================================\n\nfunction calculateEntropy(str) {\n  if (!str || str.length < 8) return 0;\n  const freq = {};\n  for (const char of str) freq[char] = (freq[char] || 0) + 1;\n  let entropy = 0;\n  const len = str.length;\n  for (const count of Object.values(freq)) {\n    const p = count / len;\n    entropy -= p * Math.log2(p);\n  }\n  return entropy;\n}\n\nfunction looksLikeSecret(value) {\n  if (typeof value !== 'string') return false;\n  if (value.length < 16 || value.length > 200) return false;\n  for (const pattern of SENSITIVE_VALUE_PATTERNS) {\n    if (pattern.regex.test(value)) return true;\n  }\n  const entropy = calculateEntropy(value);\n  const hasNumbers = /\\d/.test(value);\n  const hasLetters = /[a-zA-Z]/.test(value);\n  const noSpaces = !/\\s/.test(value);\n  const longEnough = value.length >= 20;\n  return entropy > 4.0 && hasNumbers && hasLetters && noSpaces && longEnough;\n}\n\nfunction isSensitiveKeyName(name) {\n  if (typeof name !== 'string') return false;\n  return SENSITIVE_KEY_NAMES.some(pattern => pattern.test(name));\n}\n\nfunction sanitizeValue(value) {\n  if (typeof value !== 'string') return value;\n  \n  const uuidRegex = /[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}/gi;\n  if (uuidRegex.test(value)) return value.replace(uuidRegex, 'REDACTED-UUID');\n  \n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  if (emailRegex.test(value)) return value.replace(emailRegex, 'REDACTED@email.com');\n  \n  if (value.includes('docs.google.com') || value.includes('sheets.google.com')) {\n    return value.replace(/\\/d\\/[a-zA-Z0-9_-]+/, '/d/REDACTED-DOC-ID');\n  }\n  \n  if (value.includes('/webhook/')) {\n    return value.replace(/\\/webhook\\/[a-f0-9-]+/gi, '/webhook/REDACTED');\n  }\n  \n  if (looksLikeSecret(value)) return 'REDACTED-POSSIBLE-SECRET';\n  \n  return value;\n}\n\n// ==========================================\n// 🔧 SANITIZATION\n// ==========================================\n\nfunction sanitizeObject(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return sanitizeValue(obj);\n  if (Array.isArray(obj)) return obj.map(item => sanitizeObject(item));\n  \n  if (typeof obj === 'object') {\n    const result = {};\n    \n    // Struktura {name, value}\n    if (obj.name && obj.value !== undefined) {\n      if (isSensitiveKeyName(obj.name)) return { ...obj, value: 'REDACTED-API-KEY' };\n      if (looksLikeSecret(obj.value)) return { ...obj, value: 'REDACTED-POSSIBLE-SECRET' };\n    }\n    \n    for (const [key, value] of Object.entries(obj)) {\n      if (ALWAYS_REDACT_KEYS.includes(key)) {\n        result[key] = { \"_redacted\": true };\n        continue;\n      }\n      if (isSensitiveKeyName(key) && typeof value === 'string') {\n        result[key] = 'REDACTED';\n        continue;\n      }\n      result[key] = sanitizeObject(value);\n    }\n    return result;\n  }\n  return obj;\n}\n\n// ==========================================\n// 🚀 MAIN\n// ==========================================\n\nconst anonymized = sanitizeObject(sanitized);\n\nanonymized._sanitized = {\n  note: \"Sanitized for public sharing\",\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: anonymized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        256
      ],
      "id": "REDACTED-UUID",
      "name": "New file anonymizer"
    },
    {
      "parameters": {
        "jsCode": "const oldVersion = $json.repo;\nconst newVersion = $json.new;\n\n// ==========================================\n// 🔒 ANONYMIZER\n// ==========================================\n\nconst SENSITIVE_KEY_NAMES = [\n  /api[-_]?key/i, /secret/i, /token/i, /password/i, /passwd/i,\n  /bearer/i, /authorization/i, /auth/i, /credential/i,\n  /rapidapi/i, /openai/i, /anthropic/i, /deepseek/i,\n  /private[-_]?key/i, /access[-_]?key/i, /client[-_]?secret/i,\n];\n\nconst SENSITIVE_VALUE_PATTERNS = [\n  { regex: /^sk-[a-zA-Z0-9]{20,}/ },\n  { regex: /^sk-ant-[a-zA-Z0-9-]{20,}/ },\n  { regex: /^xai-[a-zA-Z0-9]{20,}/ },\n  { regex: /^AIza[a-zA-Z0-9_-]{35}/ },\n  { regex: /^ghp_[a-zA-Z0-9]{36}/ },\n  { regex: /^gho_[a-zA-Z0-9]{36}/ },\n  { regex: /^xoxb-[a-zA-Z0-9-]+/ },\n  { regex: /^xoxp-[a-zA-Z0-9-]+/ },\n  { regex: /^(postgres|mysql|mongodb|redis):\\/\\/[^\\s]+/ },\n  { regex: /^Basic\\s+[A-Za-z0-9+/=]{10,}/ },\n  { regex: /^Bearer\\s+[A-Za-z0-9._-]{10,}/ },\n  { regex: /https?:\\/\\/[^:]+:[^@]+@/ },\n];\n\nconst ALWAYS_REDACT_KEYS = [\n  'credentials', 'webhookId', 'cachedResultUrl', 'cachedResultName',\n  'instanceId', 'projectId', 'pinData', 'meta',\n];\n\nfunction calculateEntropy(str) {\n  if (!str || str.length < 8) return 0;\n  const freq = {};\n  for (const char of str) freq[char] = (freq[char] || 0) + 1;\n  let entropy = 0;\n  const len = str.length;\n  for (const count of Object.values(freq)) {\n    const p = count / len;\n    entropy -= p * Math.log2(p);\n  }\n  return entropy;\n}\n\nfunction looksLikeSecret(value) {\n  if (typeof value !== 'string') return false;\n  if (value.length < 16 || value.length > 200) return false;\n  for (const pattern of SENSITIVE_VALUE_PATTERNS) {\n    if (pattern.regex.test(value)) return true;\n  }\n  const entropy = calculateEntropy(value);\n  return entropy > 4.0 && /\\d/.test(value) && /[a-zA-Z]/.test(value) && !/\\s/.test(value) && value.length >= 20;\n}\n\nfunction isSensitiveKeyName(name) {\n  if (typeof name !== 'string') return false;\n  return SENSITIVE_KEY_NAMES.some(pattern => pattern.test(name));\n}\n\nfunction sanitizeValue(value) {\n  if (typeof value !== 'string') return value;\n  \n  const uuidRegex = /[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}/gi;\n  if (uuidRegex.test(value)) return value.replace(uuidRegex, 'REDACTED-UUID');\n  \n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  if (emailRegex.test(value)) return value.replace(emailRegex, 'REDACTED@email.com');\n  \n  if (value.includes('docs.google.com') || value.includes('sheets.google.com')) {\n    return value.replace(/\\/d\\/[a-zA-Z0-9_-]+/, '/d/REDACTED-DOC-ID');\n  }\n  \n  if (value.includes('/webhook/')) {\n    return value.replace(/\\/webhook\\/[a-f0-9-]+/gi, '/webhook/REDACTED');\n  }\n  \n  if (looksLikeSecret(value)) return 'REDACTED-POSSIBLE-SECRET';\n  \n  return value;\n}\n\nfunction sanitizeObject(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return sanitizeValue(obj);\n  if (Array.isArray(obj)) return obj.map(item => sanitizeObject(item));\n  \n  if (typeof obj === 'object') {\n    const result = {};\n    \n    if (obj.name && obj.value !== undefined) {\n      if (isSensitiveKeyName(obj.name)) return { ...obj, value: 'REDACTED-API-KEY' };\n      if (looksLikeSecret(obj.value)) return { ...obj, value: 'REDACTED-POSSIBLE-SECRET' };\n    }\n    \n    for (const [key, value] of Object.entries(obj)) {\n      if (ALWAYS_REDACT_KEYS.includes(key)) {\n        result[key] = { \"_redacted\": true };\n        continue;\n      }\n      if (isSensitiveKeyName(key) && typeof value === 'string') {\n        result[key] = 'REDACTED';\n        continue;\n      }\n      result[key] = sanitizeObject(value);\n    }\n    return result;\n  }\n  return obj;\n}\n\n// ==========================================\n// 🔄 DIFF LOGIC\n// ==========================================\n\nconst IGNORE_KEYS = [\n  'position', 'id', 'webhookId', 'uuid', \n  'updatedAt', 'createdAt', 'activeVersionId',\n  'versionId', 'meta', 'credentials', 'pinData', 'settings',\n  'instanceId', 'notes', '_sanitized'\n];\n\nfunction truncate(str, len) {\n  if (!str) return '';\n  str = String(str);\n  return str.length > len ? str.slice(0, len) + '...' : str;\n}\n\nfunction cleanObject(obj) {\n  if (obj === null || typeof obj !== 'object') return obj;\n  if (Array.isArray(obj)) return obj.map(item => cleanObject(item));\n  \n  const cleaned = {};\n  for (const [key, value] of Object.entries(obj)) {\n    if (IGNORE_KEYS.includes(key)) continue;\n    cleaned[key] = cleanObject(value);\n  }\n  return cleaned;\n}\n\nfunction diffCode(oldCode, newCode) {\n  if (!oldCode && !newCode) return { added: [], removed: [] };\n  if (!oldCode) return { added: newCode.split('\\n').slice(0, 5), removed: [] };\n  if (!newCode) return { added: [], removed: oldCode.split('\\n').slice(0, 5) };\n  \n  const oldLines = oldCode.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n  const newLines = newCode.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n  \n  return {\n    added: newLines.filter(l => !oldLines.includes(l)).slice(0, 5),\n    removed: oldLines.filter(l => !newLines.includes(l)).slice(0, 5)\n  };\n}\n\nfunction compareNodes(oldNodes, newNodes) {\n  const changes = [];\n  \n  if (!oldNodes || !newNodes) {\n    return [{ type: 'error', detail: 'Missing nodes data' }];\n  }\n  \n  const oldByName = Object.fromEntries(oldNodes.map(n => [n.name, n]));\n  const newByName = Object.fromEntries(newNodes.map(n => [n.name, n]));\n  const allNames = new Set([...Object.keys(oldByName), ...Object.keys(newByName)]);\n  \n  for (const name of allNames) {\n    if (!(name in oldByName)) {\n      changes.push({ type: 'node_added', node: name, nodeType: newByName[name].type?.split('.').pop() || 'unknown' });\n    } else if (!(name in newByName)) {\n      changes.push({ type: 'node_removed', node: name });\n    } else {\n      const oldNode = oldByName[name];\n      const newNode = newByName[name];\n      \n      const oldCode = oldNode.parameters?.jsCode;\n      const newCode = newNode.parameters?.jsCode;\n      \n      if ((oldCode || newCode) && oldCode !== newCode) {\n        const codeDiff = diffCode(oldCode, newCode);\n        if (codeDiff.added.length > 0 || codeDiff.removed.length > 0) {\n          changes.push({ type: 'node_modified', node: name, nodeType: newNode.type?.split('.').pop() || 'unknown', field: 'jsCode', diff: codeDiff });\n          continue;\n        }\n      }\n      \n      const oldParams = cleanObject(oldNode.parameters);\n      const newParams = cleanObject(newNode.parameters);\n      \n      if (JSON.stringify(oldParams) !== JSON.stringify(newParams)) {\n        changes.push({ type: 'node_modified', node: name, nodeType: newNode.type?.split('.').pop() || 'unknown', field: 'parameters', detail: 'Config changed' });\n      }\n    }\n  }\n  \n  return changes;\n}\n\nfunction generateSummary(changes) {\n  return changes.map(c => {\n    switch(c.type) {\n      case 'node_added': return `+ ADDED \"${c.node}\" (${c.nodeType})`;\n      case 'node_removed': return `- REMOVED \"${c.node}\"`;\n      case 'node_modified':\n        let desc = `~ MODIFIED \"${c.node}\" [${c.field}]`;\n        if (c.diff) {\n          if (c.diff.added.length) desc += '\\n  ADDED:\\n    + ' + c.diff.added.map(l => truncate(l, 80)).join('\\n    + ');\n          if (c.diff.removed.length) desc += '\\n  REMOVED:\\n    - ' + c.diff.removed.map(l => truncate(l, 80)).join('\\n    - ');\n        }\n        return desc;\n      default: return `? ${c.type}`;\n    }\n  }).join('\\n\\n');\n}\n\n// ==========================================\n// 🚀 MAIN\n// ==========================================\n\n// 1. Anonimizuj NOWĄ wersję\nconst anonymizedNew = sanitizeObject(JSON.parse(JSON.stringify(newVersion)));\nanonymizedNew._sanitized = { note: \"Sanitized for public sharing\", timestamp: new Date().toISOString() };\n\n// 2. Porównaj repo (już zanonimizowane) z anonymizedNew\nconst nodeChanges = compareNodes(oldVersion.nodes, anonymizedNew.nodes);\n\nif (nodeChanges.length === 0) {\n  return [{ json: { \n    hasChanges: false,\n    summary: 'No significant changes detected',\n    workflowName: newVersion.name || 'unknown',\n    anonymizedWorkflow: anonymizedNew\n  }}];\n}\n\nreturn [{ json: { \n  hasChanges: true,\n  changeCount: nodeChanges.length,\n  summary: generateSummary(nodeChanges),\n  workflowName: newVersion.name || 'unknown',\n  anonymizedWorkflow: anonymizedNew\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Diff"
    }
  ],
  "connections": {
    "Set date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Set commit date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New file anonymizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New file anonymizer": {
      "main": [
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": "REDACTED-UUID",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-30T15:02:17.913Z",
      "createdAt": "2026-01-30T15:02:17.913Z",
      "role": "workflow:owner",
      "workflowId": "MEoPapEMerX4poeNyYT-p",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-30T15:22:01.000Z",
    "createdAt": "2026-01-30T15:21:20.018Z",
    "versionId": "REDACTED-UUID",
    "workflowId": "MEoPapEMerX4poeNyYT-p",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Set date",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          -2672,
          128
        ]
      },
      {
        "parameters": {
          "operation": "formatDate",
          "date": "={{ $json.currentDate }}",
          "format": "custom",
          "customFormat": "dd-MM-yyyy/H:mm",
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Format date",
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          -2448,
          128
        ]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "commitDate",
                "value": "={{ $json.formattedDate }}"
              }
            ]
          },
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Set commit date",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          -2224,
          128
        ]
      },
      {
        "parameters": {
          "authentication": "REDACTED",
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "Wiktor-Potapczyk",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "filePath": "="
        },
        "id": "REDACTED-UUID",
        "name": "List files from repository [GITHUB]",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -2000,
          128
        ],
        "alwaysOutputData": true,
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "operation": "aggregateItems",
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Combine file names [GITHUB]",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 2.1,
        "position": [
          -1776,
          128
        ]
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "REDACTED-UUID",
        "name": "Retrieve workflows [N8N]",
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1536,
          128
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Split to single items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 2,
        "position": [
          -1296,
          128
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
                "operation": "contains",
                "value2": "={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json"
              }
            ]
          }
        },
        "id": "REDACTED-UUID",
        "name": "Check if file exists in repository",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1056,
          112
        ]
      },
      {
        "parameters": {
          "authentication": "REDACTED",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "Wiktor-Potapczyk",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "filePath": "={{ $('Diff').item.json.anonymizedWorkflow.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json",
          "fileContent": "={{ JSON.stringify($('Diff').item.json.anonymizedWorkflow, null, 2) }}",
          "commitMessage": "={{ $('Basic LLM Chain').item.json.text }}"
        },
        "id": "REDACTED-UUID",
        "name": "Update file [GITHUB]",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          624,
          352
        ],
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "authentication": "REDACTED",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "Wiktor-Potapczyk",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "filePath": "={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=created {{ $json.name }} ({{ $node['Set commit date'].json.commitDate }})"
        },
        "id": "REDACTED-UUID",
        "name": "Upload file [GITHUB]",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -544,
          256
        ],
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -2896,
          128
        ],
        "id": "REDACTED-UUID",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "REDACTED",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "Wiktor-Potapczyk",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "filePath": "={{ $json.name.replace(/[^a-zA-Z0-9]/g, '-').replace(/-+/g, '-').toLowerCase() }}.json",
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -848,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Get a file",
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "type": "REDACTED-POSSIBLE-SECRET",
        "typeVersion": 1.1,
        "position": [
          -640,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "REDACTED-UUID",
                "name": "repo",
                "value": "={{ $json.data }}",
                "type": "object"
              },
              {
                "id": "REDACTED-UUID",
                "name": "new",
                "value": "={{ $('Split to single items').item.json }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -448,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Write a semantic commit message for these workflow changes.\n\nFormat: type(scope): description\n- Types: feat (new feature), fix (bug fix), refactor (code improvement), chore (maintenance)\n- Scope: node name or \"workflow\" (use short form, e.g. \"code\" not \"Code in JavaScript\")\n- Max 60 characters total\n- Output ONLY the commit message, nothing else\n- No quotes, no markdown, no explanation\n\nExamples:\n- feat(code): add CV type detection based on job title\n- fix(sheets): correct column mapping for job data\n- feat(workflow): add response timestamp node\n- refactor(code): simplify row matching logic\n\n### WORKFLOW: {{ $json.workflowName }}\n\n### CHANGES:\n{{ $json.summary }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          208,
          0
        ],
        "id": "REDACTED-UUID",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "REDACTED-POSSIBLE-SECRET",
        "typeVersion": 1,
        "position": [
          208,
          176
        ],
        "id": "REDACTED-UUID",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "REDACTED-UUID",
                "leftValue": "={{ $json.hasChanges }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -32,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const workflow = $('Split to single items').first().json;\nconst sanitized = JSON.parse(JSON.stringify(workflow));\n\n// ==========================================\n// 🔒 CONFIGURATION\n// ==========================================\n\nconst SENSITIVE_KEY_NAMES = [\n  /api[-_]?key/i, /secret/i, /token/i, /password/i, /passwd/i,\n  /bearer/i, /authorization/i, /auth/i, /credential/i,\n  /rapidapi/i, /openai/i, /anthropic/i, /deepseek/i,\n  /private[-_]?key/i, /access[-_]?key/i, /client[-_]?secret/i,\n];\n\nconst SENSITIVE_VALUE_PATTERNS = [\n  { regex: /^sk-[a-zA-Z0-9]{20,}/ },\n  { regex: /^sk-ant-[a-zA-Z0-9-]{20,}/ },\n  { regex: /^xai-[a-zA-Z0-9]{20,}/ },\n  { regex: /^AIza[a-zA-Z0-9_-]{35}/ },\n  { regex: /^ghp_[a-zA-Z0-9]{36}/ },\n  { regex: /^gho_[a-zA-Z0-9]{36}/ },\n  { regex: /^xoxb-[a-zA-Z0-9-]+/ },\n  { regex: /^xoxp-[a-zA-Z0-9-]+/ },\n  { regex: /^(postgres|mysql|mongodb|redis):\\/\\/[^\\s]+/ },\n  { regex: /^Basic\\s+[A-Za-z0-9+/=]{10,}/ },\n  { regex: /^Bearer\\s+[A-Za-z0-9._-]{10,}/ },\n  { regex: /https?:\\/\\/[^:]+:[^@]+@/ },\n];\n\nconst ALWAYS_REDACT_KEYS = [\n  'credentials', 'webhookId', 'cachedResultUrl', 'cachedResultName',\n  'instanceId', 'projectId', 'pinData', 'meta',\n];\n\n// ==========================================\n// 🔧 HELPERS\n// ==========================================\n\nfunction calculateEntropy(str) {\n  if (!str || str.length < 8) return 0;\n  const freq = {};\n  for (const char of str) freq[char] = (freq[char] || 0) + 1;\n  let entropy = 0;\n  const len = str.length;\n  for (const count of Object.values(freq)) {\n    const p = count / len;\n    entropy -= p * Math.log2(p);\n  }\n  return entropy;\n}\n\nfunction looksLikeSecret(value) {\n  if (typeof value !== 'string') return false;\n  if (value.length < 16 || value.length > 200) return false;\n  for (const pattern of SENSITIVE_VALUE_PATTERNS) {\n    if (pattern.regex.test(value)) return true;\n  }\n  const entropy = calculateEntropy(value);\n  const hasNumbers = /\\d/.test(value);\n  const hasLetters = /[a-zA-Z]/.test(value);\n  const noSpaces = !/\\s/.test(value);\n  const longEnough = value.length >= 20;\n  return entropy > 4.0 && hasNumbers && hasLetters && noSpaces && longEnough;\n}\n\nfunction isSensitiveKeyName(name) {\n  if (typeof name !== 'string') return false;\n  return SENSITIVE_KEY_NAMES.some(pattern => pattern.test(name));\n}\n\nfunction sanitizeValue(value) {\n  if (typeof value !== 'string') return value;\n  \n  const uuidRegex = /[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}/gi;\n  if (uuidRegex.test(value)) return value.replace(uuidRegex, 'REDACTED-UUID');\n  \n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  if (emailRegex.test(value)) return value.replace(emailRegex, 'REDACTED@email.com');\n  \n  if (value.includes('docs.google.com') || value.includes('sheets.google.com')) {\n    return value.replace(/\\/d\\/[a-zA-Z0-9_-]+/, '/d/REDACTED-DOC-ID');\n  }\n  \n  if (value.includes('/webhook/')) {\n    return value.replace(/\\/webhook\\/[a-f0-9-]+/gi, '/webhook/REDACTED');\n  }\n  \n  if (looksLikeSecret(value)) return 'REDACTED-POSSIBLE-SECRET';\n  \n  return value;\n}\n\n// ==========================================\n// 🔧 SANITIZATION\n// ==========================================\n\nfunction sanitizeObject(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return sanitizeValue(obj);\n  if (Array.isArray(obj)) return obj.map(item => sanitizeObject(item));\n  \n  if (typeof obj === 'object') {\n    const result = {};\n    \n    // Struktura {name, value}\n    if (obj.name && obj.value !== undefined) {\n      if (isSensitiveKeyName(obj.name)) return { ...obj, value: 'REDACTED-API-KEY' };\n      if (looksLikeSecret(obj.value)) return { ...obj, value: 'REDACTED-POSSIBLE-SECRET' };\n    }\n    \n    for (const [key, value] of Object.entries(obj)) {\n      if (ALWAYS_REDACT_KEYS.includes(key)) {\n        result[key] = { \"_redacted\": true };\n        continue;\n      }\n      if (isSensitiveKeyName(key) && typeof value === 'string') {\n        result[key] = 'REDACTED';\n        continue;\n      }\n      result[key] = sanitizeObject(value);\n    }\n    return result;\n  }\n  return obj;\n}\n\n// ==========================================\n// 🚀 MAIN\n// ==========================================\n\nconst anonymized = sanitizeObject(sanitized);\n\nanonymized._sanitized = {\n  note: \"Sanitized for public sharing\",\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: anonymized }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -784,
          256
        ],
        "id": "REDACTED-UUID",
        "name": "New file anonymizer"
      },
      {
        "parameters": {
          "jsCode": "const oldVersion = $json.repo;\nconst newVersion = $json.new;\n\n// ==========================================\n// 🔒 ANONYMIZER\n// ==========================================\n\nconst SENSITIVE_KEY_NAMES = [\n  /api[-_]?key/i, /secret/i, /token/i, /password/i, /passwd/i,\n  /bearer/i, /authorization/i, /auth/i, /credential/i,\n  /rapidapi/i, /openai/i, /anthropic/i, /deepseek/i,\n  /private[-_]?key/i, /access[-_]?key/i, /client[-_]?secret/i,\n];\n\nconst SENSITIVE_VALUE_PATTERNS = [\n  { regex: /^sk-[a-zA-Z0-9]{20,}/ },\n  { regex: /^sk-ant-[a-zA-Z0-9-]{20,}/ },\n  { regex: /^xai-[a-zA-Z0-9]{20,}/ },\n  { regex: /^AIza[a-zA-Z0-9_-]{35}/ },\n  { regex: /^ghp_[a-zA-Z0-9]{36}/ },\n  { regex: /^gho_[a-zA-Z0-9]{36}/ },\n  { regex: /^xoxb-[a-zA-Z0-9-]+/ },\n  { regex: /^xoxp-[a-zA-Z0-9-]+/ },\n  { regex: /^(postgres|mysql|mongodb|redis):\\/\\/[^\\s]+/ },\n  { regex: /^Basic\\s+[A-Za-z0-9+/=]{10,}/ },\n  { regex: /^Bearer\\s+[A-Za-z0-9._-]{10,}/ },\n  { regex: /https?:\\/\\/[^:]+:[^@]+@/ },\n];\n\nconst ALWAYS_REDACT_KEYS = [\n  'credentials', 'webhookId', 'cachedResultUrl', 'cachedResultName',\n  'instanceId', 'projectId', 'pinData', 'meta',\n];\n\nfunction calculateEntropy(str) {\n  if (!str || str.length < 8) return 0;\n  const freq = {};\n  for (const char of str) freq[char] = (freq[char] || 0) + 1;\n  let entropy = 0;\n  const len = str.length;\n  for (const count of Object.values(freq)) {\n    const p = count / len;\n    entropy -= p * Math.log2(p);\n  }\n  return entropy;\n}\n\nfunction looksLikeSecret(value) {\n  if (typeof value !== 'string') return false;\n  if (value.length < 16 || value.length > 200) return false;\n  for (const pattern of SENSITIVE_VALUE_PATTERNS) {\n    if (pattern.regex.test(value)) return true;\n  }\n  const entropy = calculateEntropy(value);\n  return entropy > 4.0 && /\\d/.test(value) && /[a-zA-Z]/.test(value) && !/\\s/.test(value) && value.length >= 20;\n}\n\nfunction isSensitiveKeyName(name) {\n  if (typeof name !== 'string') return false;\n  return SENSITIVE_KEY_NAMES.some(pattern => pattern.test(name));\n}\n\nfunction sanitizeValue(value) {\n  if (typeof value !== 'string') return value;\n  \n  const uuidRegex = /[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}/gi;\n  if (uuidRegex.test(value)) return value.replace(uuidRegex, 'REDACTED-UUID');\n  \n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  if (emailRegex.test(value)) return value.replace(emailRegex, 'REDACTED@email.com');\n  \n  if (value.includes('docs.google.com') || value.includes('sheets.google.com')) {\n    return value.replace(/\\/d\\/[a-zA-Z0-9_-]+/, '/d/REDACTED-DOC-ID');\n  }\n  \n  if (value.includes('/webhook/')) {\n    return value.replace(/\\/webhook\\/[a-f0-9-]+/gi, '/webhook/REDACTED');\n  }\n  \n  if (looksLikeSecret(value)) return 'REDACTED-POSSIBLE-SECRET';\n  \n  return value;\n}\n\nfunction sanitizeObject(obj) {\n  if (obj === null || obj === undefined) return obj;\n  if (typeof obj === 'string') return sanitizeValue(obj);\n  if (Array.isArray(obj)) return obj.map(item => sanitizeObject(item));\n  \n  if (typeof obj === 'object') {\n    const result = {};\n    \n    if (obj.name && obj.value !== undefined) {\n      if (isSensitiveKeyName(obj.name)) return { ...obj, value: 'REDACTED-API-KEY' };\n      if (looksLikeSecret(obj.value)) return { ...obj, value: 'REDACTED-POSSIBLE-SECRET' };\n    }\n    \n    for (const [key, value] of Object.entries(obj)) {\n      if (ALWAYS_REDACT_KEYS.includes(key)) {\n        result[key] = { \"_redacted\": true };\n        continue;\n      }\n      if (isSensitiveKeyName(key) && typeof value === 'string') {\n        result[key] = 'REDACTED';\n        continue;\n      }\n      result[key] = sanitizeObject(value);\n    }\n    return result;\n  }\n  return obj;\n}\n\n// ==========================================\n// 🔄 DIFF LOGIC\n// ==========================================\n\nconst IGNORE_KEYS = [\n  'position', 'id', 'webhookId', 'uuid', \n  'updatedAt', 'createdAt', 'activeVersionId',\n  'versionId', 'meta', 'credentials', 'pinData', 'settings',\n  'instanceId', 'notes', '_sanitized'\n];\n\nfunction truncate(str, len) {\n  if (!str) return '';\n  str = String(str);\n  return str.length > len ? str.slice(0, len) + '...' : str;\n}\n\nfunction cleanObject(obj) {\n  if (obj === null || typeof obj !== 'object') return obj;\n  if (Array.isArray(obj)) return obj.map(item => cleanObject(item));\n  \n  const cleaned = {};\n  for (const [key, value] of Object.entries(obj)) {\n    if (IGNORE_KEYS.includes(key)) continue;\n    cleaned[key] = cleanObject(value);\n  }\n  return cleaned;\n}\n\nfunction diffCode(oldCode, newCode) {\n  if (!oldCode && !newCode) return { added: [], removed: [] };\n  if (!oldCode) return { added: newCode.split('\\n').slice(0, 5), removed: [] };\n  if (!newCode) return { added: [], removed: oldCode.split('\\n').slice(0, 5) };\n  \n  const oldLines = oldCode.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n  const newLines = newCode.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n  \n  return {\n    added: newLines.filter(l => !oldLines.includes(l)).slice(0, 5),\n    removed: oldLines.filter(l => !newLines.includes(l)).slice(0, 5)\n  };\n}\n\nfunction compareNodes(oldNodes, newNodes) {\n  const changes = [];\n  \n  if (!oldNodes || !newNodes) {\n    return [{ type: 'error', detail: 'Missing nodes data' }];\n  }\n  \n  const oldByName = Object.fromEntries(oldNodes.map(n => [n.name, n]));\n  const newByName = Object.fromEntries(newNodes.map(n => [n.name, n]));\n  const allNames = new Set([...Object.keys(oldByName), ...Object.keys(newByName)]);\n  \n  for (const name of allNames) {\n    if (!(name in oldByName)) {\n      changes.push({ type: 'node_added', node: name, nodeType: newByName[name].type?.split('.').pop() || 'unknown' });\n    } else if (!(name in newByName)) {\n      changes.push({ type: 'node_removed', node: name });\n    } else {\n      const oldNode = oldByName[name];\n      const newNode = newByName[name];\n      \n      const oldCode = oldNode.parameters?.jsCode;\n      const newCode = newNode.parameters?.jsCode;\n      \n      if ((oldCode || newCode) && oldCode !== newCode) {\n        const codeDiff = diffCode(oldCode, newCode);\n        if (codeDiff.added.length > 0 || codeDiff.removed.length > 0) {\n          changes.push({ type: 'node_modified', node: name, nodeType: newNode.type?.split('.').pop() || 'unknown', field: 'jsCode', diff: codeDiff });\n          continue;\n        }\n      }\n      \n      const oldParams = cleanObject(oldNode.parameters);\n      const newParams = cleanObject(newNode.parameters);\n      \n      if (JSON.stringify(oldParams) !== JSON.stringify(newParams)) {\n        changes.push({ type: 'node_modified', node: name, nodeType: newNode.type?.split('.').pop() || 'unknown', field: 'parameters', detail: 'Config changed' });\n      }\n    }\n  }\n  \n  return changes;\n}\n\nfunction generateSummary(changes) {\n  return changes.map(c => {\n    switch(c.type) {\n      case 'node_added': return `+ ADDED \"${c.node}\" (${c.nodeType})`;\n      case 'node_removed': return `- REMOVED \"${c.node}\"`;\n      case 'node_modified':\n        let desc = `~ MODIFIED \"${c.node}\" [${c.field}]`;\n        if (c.diff) {\n          if (c.diff.added.length) desc += '\\n  ADDED:\\n    + ' + c.diff.added.map(l => truncate(l, 80)).join('\\n    + ');\n          if (c.diff.removed.length) desc += '\\n  REMOVED:\\n    - ' + c.diff.removed.map(l => truncate(l, 80)).join('\\n    - ');\n        }\n        return desc;\n      default: return `? ${c.type}`;\n    }\n  }).join('\\n\\n');\n}\n\n// ==========================================\n// 🚀 MAIN\n// ==========================================\n\n// 1. Anonimizuj NOWĄ wersję\nconst anonymizedNew = sanitizeObject(JSON.parse(JSON.stringify(newVersion)));\nanonymizedNew._sanitized = { note: \"Sanitized for public sharing\", timestamp: new Date().toISOString() };\n\n// 2. Porównaj repo (już zanonimizowane) z anonymizedNew\nconst nodeChanges = compareNodes(oldVersion.nodes, anonymizedNew.nodes);\n\nif (nodeChanges.length === 0) {\n  return [{ json: { \n    hasChanges: false,\n    summary: 'No significant changes detected',\n    workflowName: newVersion.name || 'unknown',\n    anonymizedWorkflow: anonymizedNew\n  }}];\n}\n\nreturn [{ json: { \n  hasChanges: true,\n  changeCount: nodeChanges.length,\n  summary: generateSummary(nodeChanges),\n  workflowName: newVersion.name || 'unknown',\n  anonymizedWorkflow: anonymizedNew\n}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Diff"
      }
    ],
    "connections": {
      "Set date": {
        "main": [
          [
            {
              "node": "Format date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format date": {
        "main": [
          [
            {
              "node": "Set commit date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set commit date": {
        "main": [
          [
            {
              "node": "List files from repository [GITHUB]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repository [GITHUB]": {
        "main": [
          [
            {
              "node": "Combine file names [GITHUB]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combine file names [GITHUB]": {
        "main": [
          [
            {
              "node": "Retrieve workflows [N8N]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows [N8N]": {
        "main": [
          [
            {
              "node": "Split to single items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split to single items": {
        "main": [
          [
            {
              "node": "Check if file exists in repository",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists in repository": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "New file anonymizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update file [GITHUB]": {
        "main": [
          [
            {
              "node": "Split to single items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file [GITHUB]": {
        "main": [
          [
            {
              "node": "Split to single items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Diff",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Update file [GITHUB]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split to single items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "New file anonymizer": {
        "main": [
          [
            {
              "node": "Upload file [GITHUB]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Diff": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "REDACTED",
    "name": "Version 6ca31ca2",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_sanitized": {
    "note": "Sanitized for public sharing",
    "timestamp": "2026-01-30T15:22:08.089Z"
  }
}