hackathon-main.json
{
  "updatedAt": "2026-03-01T14:07:27.862Z",
  "createdAt": "2026-02-27T21:04:01.940Z",
  "id": "REDACTED-POSSIBLE-SECRET",
  "name": "hackathon main",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-police-report",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-upload",
      "name": "Webhook - Upload PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"Extract all the information from this police report to match the following JSON schema strictly. The 'client' is the plaintiff or the injured party (e.g. pedestrian, innocent driver). The 'defendant' is the party at fault. Return nothing but the raw JSON object representation. Schema: {\\\"client_first_name\\\": \\\"string\\\", \\\"client_last_name\\\": \\\"string\\\", \\\"defendant_first_name\\\": \\\"string\\\", \\\"defendant_last_name\\\": \\\"string\\\", \\\"accident_date\\\": \\\"YYYY-MM-DD\\\", \\\"accident_location\\\": \\\"string\\\", \\\"client_plate\\\": \\\"string\\\", \\\"client_pronoun\\\": \\\"he/she/they\\\", \\\"num_injured\\\": 0, \\\"has_injuries\\\": true, \\\"accident_description\\\": \\\"string\\\"}\" },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"application/pdf\",\n            \"data\": [\"body\"][\"pdf_base64\"]\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}) }}",
        "options": {}
      },
      "id": "llm-extract",
      "name": "LLM - Extract Data from PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Gemini response\nconst response = .item.json;\nlet content;\ntry {\n  content = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return { json: { error: 'Failed to read Gemini response', raw: JSON.stringify(response).substring(0, 500) } };\n}\n\nlet extracted;\ntry {\n  let jsonStr = content.replace(/`json\\n?/g, '').replace(/`\\n?/g, '').trim();\n  extracted = JSON.parse(jsonStr);\n} catch (e) {\n  return { json: { error: 'Failed to parse JSON', raw: content } };\n}\n\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\nlet accidentSummary = extracted.has_injuries\n  ? 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.'\n  : 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n\nlet solDate = '';\nif (extracted.accident_date) {\n    let d = new Date(extracted.accident_date);\n    d.setFullYear(d.getFullYear() + 8);\n    solDate = d.toISOString().split('T')[0];\n}\n\nreturn {\n  json: {\n    client_first_name: extracted.client_first_name || '',\n    client_last_name: extracted.client_last_name || '',\n    client_full_name: ${extracted.client_first_name || ''} .trim(),\n    defendant_name: ${extracted.defendant_first_name || ''} .trim(),\n    accident_date_formatted: extracted.accident_date || '',\n    accident_location: extracted.accident_location || '',\n    client_plate: extracted.client_plate || '',\n    client_pronoun: extracted.client_pronoun || 'they',\n    sol_date: solDate,\n    has_injuries: extracted.has_injuries || false,\n    num_injured: extracted.num_injured || 0,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    accident_summary: accidentSummary,\n    _raw_extraction: extracted\n  }\n};\n"
      },
      "id": "parse-response",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-upload",
      "name": "Respond - Extracted Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-validated-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-validated",
      "name": "Webhook - Validated Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://eu.app.clio.com/api/v4/matters/{{ $json.body.matter_id }}.json",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"custom_field_values\": [\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.accident_date }} },\n        \"value\": \"{{ $json.body.accident_date }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.defendant_name }} },\n        \"value\": \"{{ $json.body.defendant_name }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.accident_location }} },\n        \"value\": \"{{ $json.body.accident_location }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.client_plate }} },\n        \"value\": \"{{ $json.body.client_plate }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.sol_date }} },\n        \"value\": \"{{ $json.body.sol_date }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.num_injured }} },\n        \"value\": {{ $json.body.num_injured }}\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.client_pronoun }} },\n        \"value\": \"{{ $json.body.client_pronoun }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "clio-update-matter",
      "name": "Clio - Update Matter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"summary\": \"Statute of Limitations - {{ $json.body.client_full_name }}\",\n    \"description\": \"Statute of limitations deadline for {{ $json.body.client_full_name }} v. {{ $json.body.defendant_name }}. Accident date: {{ $json.body.accident_date }}.\",\n    \"start_at\": \"{{ $json.body.sol_date }}T09:00:00-05:00\",\n    \"end_at\": \"{{ $json.body.sol_date }}T10:00:00-05:00\",\n    \"all_day\": true,\n    \"matter\": { \"id\": {{ $json.body.matter_id }} },\n    \"calendar_owner\": { \"id\": {{ $json.body.attorney_id }} }\n  }\n}",
        "options": {}
      },
      "id": "clio-calendar",
      "name": "Clio - Calendar Entry (SOL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"matter\": { \"id\": {{ $json.body.matter_id }} },\n    \"document_template\": { \"id\": {{ $json.body.template_id }} }\n  }\n}",
        "options": {}
      },
      "id": "clio-doc-automation",
      "name": "Clio - Generate Retainer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {},
      "id": "wait-doc",
      "name": "Wait - Document Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        304
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "url": "=https://eu.app.clio.com/api/v4/documents/{{ $('Clio - Generate Retainer').item.json.data.document.id }}/download",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "clio-get-document",
      "name": "Clio - Get Retainer PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare email data\nconst body = $('Webhook - Validated Data').item.json.body;\n\n// Determine seasonal booking link\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\n// Build injury summary\nlet injurySummary;\nif (body.num_injured > 0) {\n  injurySummary = 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.';\n} else {\n  injurySummary = 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n}\n\nreturn {\n  json: {\n    to_email: body.client_email || 'REDACTED@email.com',\n    subject: 'Retainer Agreement for Your Review – Richards & Law',\n    client_first_name: body.client_first_name,\n    client_full_name: body.client_full_name,\n    defendant_name: body.defendant_name,\n    accident_date_formatted: body.accident_date_formatted,\n    accident_location: body.accident_location,\n    injury_summary: injurySummary,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    retainer_filename: body.client_full_name.replace(/\\s+/g, '_') + '_Retainer_Agreement.pdf'\n  }\n};\n"
      },
      "id": "prepare-email",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Processing complete. Retainer sent to {{ $json.to_email }}\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-validated",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "REDACTED@email.com",
        "subject": "={{ $json.subject }}",
        "message": "dsadsadsa",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "{{ $json.retainer_filename }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        304
      ],
      "id": "REDACTED-UUID",
      "name": "Send a message",
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    }
  ],
  "connections": {
    "Webhook - Upload PDF": {
      "main": [
        [
          {
            "node": "LLM - Extract Data from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Extract Data from PDF": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Respond - Extracted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Validated Data": {
      "main": [
        [
          {
            "node": "Clio - Update Matter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Update Matter": {
      "main": [
        [
          {
            "node": "Clio - Calendar Entry (SOL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Calendar Entry (SOL)": {
      "main": [
        [
          {
            "node": "Clio - Generate Retainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Generate Retainer": {
      "main": [
        [
          {
            "node": "Wait - Document Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Document Generation": {
      "main": [
        [
          {
            "node": "Clio - Get Retainer PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Get Retainer PDF": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": "REDACTED-UUID",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-27T21:04:01.947Z",
      "createdAt": "2026-02-27T21:04:01.947Z",
      "role": "workflow:owner",
      "workflowId": "REDACTED-POSSIBLE-SECRET",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-01T14:07:35.000Z",
    "createdAt": "2026-03-01T14:07:27.863Z",
    "versionId": "REDACTED-UUID",
    "workflowId": "REDACTED-POSSIBLE-SECRET",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "upload-police-report",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "webhook-upload",
        "name": "Webhook - Upload PDF",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "REDACTED-POSSIBLE-SECRET",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"Extract all the information from this police report to match the following JSON schema strictly. The 'client' is the plaintiff or the injured party (e.g. pedestrian, innocent driver). The 'defendant' is the party at fault. Return nothing but the raw JSON object representation. Schema: {\\\"client_first_name\\\": \\\"string\\\", \\\"client_last_name\\\": \\\"string\\\", \\\"defendant_first_name\\\": \\\"string\\\", \\\"defendant_last_name\\\": \\\"string\\\", \\\"accident_date\\\": \\\"YYYY-MM-DD\\\", \\\"accident_location\\\": \\\"string\\\", \\\"client_plate\\\": \\\"string\\\", \\\"client_pronoun\\\": \\\"he/she/they\\\", \\\"num_injured\\\": 0, \\\"has_injuries\\\": true, \\\"accident_description\\\": \\\"string\\\"}\" },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"application/pdf\",\n            \"data\": [\"body\"][\"pdf_base64\"]\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}) }}",
          "options": {}
        },
        "id": "llm-extract",
        "name": "LLM - Extract Data from PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Parse Gemini response\nconst response = .item.json;\nlet content;\ntry {\n  content = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return { json: { error: 'Failed to read Gemini response', raw: JSON.stringify(response).substring(0, 500) } };\n}\n\nlet extracted;\ntry {\n  let jsonStr = content.replace(/`json\\n?/g, '').replace(/`\\n?/g, '').trim();\n  extracted = JSON.parse(jsonStr);\n} catch (e) {\n  return { json: { error: 'Failed to parse JSON', raw: content } };\n}\n\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\nlet accidentSummary = extracted.has_injuries\n  ? 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.'\n  : 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n\nlet solDate = '';\nif (extracted.accident_date) {\n    let d = new Date(extracted.accident_date);\n    d.setFullYear(d.getFullYear() + 8);\n    solDate = d.toISOString().split('T')[0];\n}\n\nreturn {\n  json: {\n    client_first_name: extracted.client_first_name || '',\n    client_last_name: extracted.client_last_name || '',\n    client_full_name: ${extracted.client_first_name || ''} .trim(),\n    defendant_name: ${extracted.defendant_first_name || ''} .trim(),\n    accident_date_formatted: extracted.accident_date || '',\n    accident_location: extracted.accident_location || '',\n    client_plate: extracted.client_plate || '',\n    client_pronoun: extracted.client_pronoun || 'they',\n    sol_date: solDate,\n    has_injuries: extracted.has_injuries || false,\n    num_injured: extracted.num_injured || 0,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    accident_summary: accidentSummary,\n    _raw_extraction: extracted\n  }\n};\n"
        },
        "id": "parse-response",
        "name": "Parse LLM Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "respond-upload",
        "name": "Respond - Extracted Data",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "process-validated-data",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-validated",
        "name": "Webhook - Validated Data",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          304
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://eu.app.clio.com/api/v4/matters/{{ $json.body.matter_id }}.json",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"custom_field_values\": [\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.accident_date }} },\n        \"value\": \"{{ $json.body.accident_date }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.defendant_name }} },\n        \"value\": \"{{ $json.body.defendant_name }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.accident_location }} },\n        \"value\": \"{{ $json.body.accident_location }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.client_plate }} },\n        \"value\": \"{{ $json.body.client_plate }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.sol_date }} },\n        \"value\": \"{{ $json.body.sol_date }}\"\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.num_injured }} },\n        \"value\": {{ $json.body.num_injured }}\n      },\n      {\n        \"custom_field\": { \"id\": {{ $json.body.custom_field_ids.client_pronoun }} },\n        \"value\": \"{{ $json.body.client_pronoun }}\"\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "id": "clio-update-matter",
        "name": "Clio - Update Matter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "REDACTED-POSSIBLE-SECRET",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"summary\": \"Statute of Limitations - {{ $json.body.client_full_name }}\",\n    \"description\": \"Statute of limitations deadline for {{ $json.body.client_full_name }} v. {{ $json.body.defendant_name }}. Accident date: {{ $json.body.accident_date }}.\",\n    \"start_at\": \"{{ $json.body.sol_date }}T09:00:00-05:00\",\n    \"end_at\": \"{{ $json.body.sol_date }}T10:00:00-05:00\",\n    \"all_day\": true,\n    \"matter\": { \"id\": {{ $json.body.matter_id }} },\n    \"calendar_owner\": { \"id\": {{ $json.body.attorney_id }} }\n  }\n}",
          "options": {}
        },
        "id": "clio-calendar",
        "name": "Clio - Calendar Entry (SOL)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "REDACTED-POSSIBLE-SECRET",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"matter\": { \"id\": {{ $json.body.matter_id }} },\n    \"document_template\": { \"id\": {{ $json.body.template_id }} }\n  }\n}",
          "options": {}
        },
        "id": "clio-doc-automation",
        "name": "Clio - Generate Retainer",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {},
        "id": "wait-doc",
        "name": "Wait - Document Generation",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          304
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "url": "=https://eu.app.clio.com/api/v4/documents/{{ $('Clio - Generate Retainer').item.json.data.document.id }}/download",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "clio-get-document",
        "name": "Clio - Get Retainer PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1104,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Prepare email data\nconst body = $('Webhook - Validated Data').item.json.body;\n\n// Determine seasonal booking link\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\n// Build injury summary\nlet injurySummary;\nif (body.num_injured > 0) {\n  injurySummary = 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.';\n} else {\n  injurySummary = 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n}\n\nreturn {\n  json: {\n    to_email: body.client_email || 'REDACTED@email.com',\n    subject: 'Retainer Agreement for Your Review – Richards & Law',\n    client_first_name: body.client_first_name,\n    client_full_name: body.client_full_name,\n    defendant_name: body.defendant_name,\n    accident_date_formatted: body.accident_date_formatted,\n    accident_location: body.accident_location,\n    injury_summary: injurySummary,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    retainer_filename: body.client_full_name.replace(/\\s+/g, '_') + '_Retainer_Agreement.pdf'\n  }\n};\n"
        },
        "id": "prepare-email",
        "name": "Prepare Email Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1328,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"success\": true, \"message\": \"Processing complete. Retainer sent to {{ $json.to_email }}\"}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-validated",
        "name": "Respond - Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1760,
          304
        ]
      },
      {
        "parameters": {
          "sendTo": "REDACTED@email.com",
          "subject": "={{ $json.subject }}",
          "message": "dsadsadsa",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {
                  "property": "{{ $json.retainer_filename }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1536,
          304
        ],
        "id": "REDACTED-UUID",
        "name": "Send a message",
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      }
    ],
    "connections": {
      "Webhook - Upload PDF": {
        "main": [
          [
            {
              "node": "LLM - Extract Data from PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM - Extract Data from PDF": {
        "main": [
          [
            {
              "node": "Parse LLM Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse LLM Response": {
        "main": [
          [
            {
              "node": "Respond - Extracted Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Validated Data": {
        "main": [
          [
            {
              "node": "Clio - Update Matter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Update Matter": {
        "main": [
          [
            {
              "node": "Clio - Calendar Entry (SOL)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Calendar Entry (SOL)": {
        "main": [
          [
            {
              "node": "Clio - Generate Retainer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Generate Retainer": {
        "main": [
          [
            {
              "node": "Wait - Document Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait - Document Generation": {
        "main": [
          [
            {
              "node": "Clio - Get Retainer PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Get Retainer PDF": {
        "main": [
          [
            {
              "node": "Prepare Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Email Data": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Respond - Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "REDACTED",
    "name": "Version 5f0054ce",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_sanitized": {
    "note": "Sanitized for public sharing",
    "timestamp": "2026-03-01T15:00:16.121Z"
  }
}