hackathon-main.json
{
  "updatedAt": "2026-03-02T16:59:34.884Z",
  "createdAt": "2026-02-27T21:04:01.940Z",
  "id": "REDACTED-POSSIBLE-SECRET",
  "name": "hackathon main",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-police-report",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-upload",
      "name": "Webhook - Upload PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extract all the information from this police report to match the following JSON schema strictly. The 'client' is the PLAINTIFF – the person who FILED the report or was INJURED/STRUCK. The 'defendant' is the OTHER PARTY who CAUSED the accident. In case titles following 'PLAINTIFF v. DEFENDANT', the name before 'v.' is ALWAYS the client/plaintiff and the name after 'v.' is ALWAYS the defendant. Return nothing but the raw JSON object representation. Schema: { \\\"client_first_name\\\": \\\"string\\\", \\\"client_last_name\\\": \\\"string\\\", \\\"defendant_name\\\": \\\"string\\\", \\\"accident_date\\\": \\\"YYYY-MM-DD\\\", \\\"accident_location\\\": { \\\"full_location\\\": \\\"string\\\" }, \\\"vehicle1\\\": { \\\"plate_number\\\": \\\"string\\\" }, \\\"num_injured\\\": 0, \\\"accident_description\\\": \\\"string\\\" }\"\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"application/pdf\",\n            \"data\": $('Webhook - Upload PDF').item.json.body.pdf_base64\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}) }}\n",
        "options": {}
      },
      "id": "llm-extract",
      "name": "LLM - Extract Data from PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Gemini response\nconst response = $input.item.json;\nlet content;\ntry {\n  content = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return { json: { error: 'Failed to read Gemini response', raw: JSON.stringify(response).substring(0, 500) } };\n}\n\nlet extracted;\ntry {\n  let jsonStr = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  extracted = JSON.parse(jsonStr);\n} catch (e) {\n  return { json: { error: 'Failed to parse JSON', raw: content } };\n}\n\n// Seasonal booking link\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\n// Accident summary\nconst accidentSummary = extracted.num_injured > 0\n  ? 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.'\n  : 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n\n// SOL date (3 years from accident)\nlet solDate = '';\nif (extracted.accident_date) {\n  const d = new Date(extracted.accident_date);\n  if (!isNaN(d.getTime())) {\n    d.setFullYear(d.getFullYear() + 3);\n    solDate = d.toISOString().split('T')[0];\n  }\n}\n\n// Resolve nested accident_location\nconst accidentLocation = (typeof extracted.accident_location === 'object' && extracted.accident_location !== null)\n  ? (extracted.accident_location.full_location || JSON.stringify(extracted.accident_location))\n  : (extracted.accident_location || '');\n\n// Plate number\nconst clientPlate = (extracted.vehicle1 && extracted.vehicle1.plate_number)\n  ? extracted.vehicle1.plate_number\n  : (extracted.client_plate || '');\n\n// Client name\nconst clientFirstName = extracted.client_first_name || '';\nconst clientLastName = extracted.client_last_name || '';\n\n// Defendant name\nconst defendantName = extracted.defendant_name || '';\n\nreturn {\n  json: {\n    client_first_name: clientFirstName,\n    client_last_name: clientLastName,\n    client_full_name: (clientFirstName + ' ' + clientLastName).trim(),\n    defendant_name: defendantName,\n    accident_date: extracted.accident_date || '',\n    accident_date_formatted: extracted.accident_date || '',\n    accident_location: accidentLocation,\n    client_plate: clientPlate,\n    client_pronoun: extracted.client_pronoun || 'they',\n    sol_date: solDate,\n    has_injuries: (extracted.num_injured || 0) > 0,\n    num_injured: extracted.num_injured || 0,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    accident_summary: accidentSummary,\n    accident_description: extracted.accident_description || '',\n    _raw_extraction: extracted\n  }\n};\n"
      },
      "id": "parse-response",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-upload",
      "name": "Respond - Extracted Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-validated-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-validated",
      "name": "Webhook - Validated Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {},
      "id": "wait-doc",
      "name": "Wait - Document Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        432
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "url": "=https://eu.app.clio.com/api/v4/matters/{{ $json.body.matter_id }}.json?fields=custom_field_values{id,custom_field}",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Clio - Get Matter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://eu.app.clio.com/api/v4/matters/{{ $('Webhook - Validated Data').item.json.body.matter_id }}.json",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const body = $('Webhook - Validated Data').item.json.body; const existing = $json.data.custom_field_values || []; const findId = (cfId) => { const f = existing.find(v => v.custom_field && v.custom_field.id == cfId); return f ? f.id : undefined; }; const mk = (cfId, value) => { const e = { custom_field: { id: cfId }, value: value }; const eid = findId(cfId); if (eid) e.id = eid; return e; }; return JSON.stringify({ data: { custom_field_values: [ mk(body.custom_field_ids.accident_date, body.accident_date), mk(body.custom_field_ids.defendant_name, body.defendant_name), mk(body.custom_field_ids.accident_location, body.accident_location), mk(body.custom_field_ids.client_plate, body.client_plate), mk(body.custom_field_ids.sol_date, body.sol_date), mk(body.custom_field_ids.num_injured, body.num_injured), mk(body.custom_field_ids.client_pronoun, body.client_pronoun) ] } }); })() }}",
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Clio - Update Matter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare email data\nconst body = $('Webhook - Validated Data').item.json.body;\nconst clioDocUrl = $json.clio_document_url || '';\n\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\nlet injurySummary;\nif (body.num_injured > 0) {\n  injurySummary = 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.';\n} else {\n  injurySummary = 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n}\n\nreturn {\n  json: {\n    to_email: body.client_email || 'REDACTED@email.com',\n    subject: 'Retainer Agreement for Your Review – Richards & Law',\n    client_first_name: body.client_first_name,\n    client_full_name: body.client_full_name,\n    defendant_name: body.defendant_name,\n    accident_date_formatted: body.accident_date_formatted || body.accident_date,\n    accident_location: body.accident_location,\n    injury_summary: injurySummary,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    clio_document_url: clioDocUrl\n  }\n};\n"
      },
      "id": "REDACTED-UUID",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        288
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "message": "=Dear {{ $json.client_first_name }},\n\nWe are pleased to share your Retainer Agreement for the matter of {{ $json.client_full_name }} v. {{ $json.defendant_name }} (accident on {{ $json.accident_date_formatted }} at {{ $json.accident_location }}).\n\n{{ $json.injury_summary }}\n\nYour Retainer Agreement is ready for review. Please download it securely here:\n{{ $json.clio_document_url }}\n\nTo schedule your {{ $json.consultation_type }}, please use the following link: {{ $json.booking_link }}\n\nBest regards,\nRichards & Law\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1648,
        288
      ],
      "id": "REDACTED-UUID",
      "name": "Send a message",
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Processing complete. Retainer sent to {{ $('Prepare Email Data').item.json.to_email }}\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "REDACTED-UUID",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1888,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"summary\": \"Statute of Limitations - {{ $('Webhook - Validated Data').item.json.body.client_full_name }}\",\n    \"description\": \"SOL deadline for {{ $('Webhook - Validated Data').item.json.body.client_full_name }} v. {{ $('Webhook - Validated Data').item.json.body.defendant_name }}. Accident: {{ $('Webhook - Validated Data').item.json.body.accident_date }}.\",\n    \"start_at\": \"={{ (() => { const d = new Date($('Webhook - Validated Data').item.json.body.accident_date); d.setFullYear(d.getFullYear() + 3); return d.toISOString().split('T')[0] + 'T09:00:00Z'; })() }}\",\n    \"end_at\": \"={{ (() => { const d = new Date($('Webhook - Validated Data').item.json.body.accident_date); d.setFullYear(d.getFullYear() + 3); return d.toISOString().split('T')[0] + 'T10:00:00Z'; })() }}\",\n    \"matter\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.matter_id }} },\n    \"calendar_owner\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.calendar_id }} }\n  }\n}\n",
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Clio - Calendar Entry (SOL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"matter\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.matter_id }} },\n    \"document_template\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.template_id }} },\n    \"filename\": \"{{ $('Webhook - Validated Data').item.json.body.client_full_name.replace(/ /g, '_') }}_Retainer_Agreement\",\n    \"formats\": [\"pdf\"]\n  }\n}",
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Clio - Generate Retainer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        304
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "url": "=https://eu.app.clio.com/api/v4/document_automations/{{ $('Clio - Generate Retainer').item.json.data.id }}.json?fields=id,state,documents",
        "authentication": "REDACTED",
        "genericAuthType": "REDACTED",
        "options": {}
      },
      "id": "REDACTED-UUID",
      "name": "Clio - Get Automation Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        432
      ],
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1072,
        304
      ],
      "id": "REDACTED-UUID",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        432
      ],
      "id": "REDACTED-UUID",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "REDACTED-UUID",
      "name": "Wait - Document Generation1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1840,
        560
      ],
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Clio document link instead of downloading binary\nconst docId = $('Clio - Get Automation Status').item.json.data.documents[0].id;\nconst matterId = $('Webhook - Validated Data').item.json.body.matter_id;\nreturn {\n  json: {\n    ...($input.item.json),\n    clio_document_id: docId,\n    clio_document_url: `https://eu.app.clio.com/nc/#/matters/${matterId}/documents`\n  }\n};\n"
      },
      "id": "REDACTED-UUID",
      "name": "Download PDF from S3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        288
      ]
    }
  ],
  "connections": {
    "Webhook - Upload PDF": {
      "main": [
        [
          {
            "node": "LLM - Extract Data from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Extract Data from PDF": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Respond - Extracted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Validated Data": {
      "main": [
        [
          {
            "node": "Clio - Get Matter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Document Generation": {
      "main": [
        [
          {
            "node": "Clio - Get Automation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Get Matter": {
      "main": [
        [
          {
            "node": "Clio - Update Matter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Update Matter": {
      "main": [
        [
          {
            "node": "Clio - Calendar Entry (SOL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Calendar Entry (SOL)": {
      "main": [
        [
          {
            "node": "Clio - Generate Retainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Generate Retainer": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clio - Get Automation Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download PDF from S3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait - Document Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait - Document Generation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Document Generation1": {
      "main": [
        [
          {
            "node": "Clio - Get Automation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from S3": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": "REDACTED-UUID",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-27T21:04:01.947Z",
      "createdAt": "2026-02-27T21:04:01.947Z",
      "role": "workflow:owner",
      "workflowId": "REDACTED-POSSIBLE-SECRET",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-02T16:59:36.000Z",
    "createdAt": "2026-03-02T16:59:34.887Z",
    "versionId": "REDACTED-UUID",
    "workflowId": "REDACTED-POSSIBLE-SECRET",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "upload-police-report",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "webhook-upload",
        "name": "Webhook - Upload PDF",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "REDACTED-POSSIBLE-SECRET",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extract all the information from this police report to match the following JSON schema strictly. The 'client' is the PLAINTIFF – the person who FILED the report or was INJURED/STRUCK. The 'defendant' is the OTHER PARTY who CAUSED the accident. In case titles following 'PLAINTIFF v. DEFENDANT', the name before 'v.' is ALWAYS the client/plaintiff and the name after 'v.' is ALWAYS the defendant. Return nothing but the raw JSON object representation. Schema: { \\\"client_first_name\\\": \\\"string\\\", \\\"client_last_name\\\": \\\"string\\\", \\\"defendant_name\\\": \\\"string\\\", \\\"accident_date\\\": \\\"YYYY-MM-DD\\\", \\\"accident_location\\\": { \\\"full_location\\\": \\\"string\\\" }, \\\"vehicle1\\\": { \\\"plate_number\\\": \\\"string\\\" }, \\\"num_injured\\\": 0, \\\"accident_description\\\": \\\"string\\\" }\"\n        },\n        {\n          \"inlineData\": {\n            \"mimeType\": \"application/pdf\",\n            \"data\": $('Webhook - Upload PDF').item.json.body.pdf_base64\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}) }}\n",
          "options": {}
        },
        "id": "llm-extract",
        "name": "LLM - Extract Data from PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Parse Gemini response\nconst response = $input.item.json;\nlet content;\ntry {\n  content = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return { json: { error: 'Failed to read Gemini response', raw: JSON.stringify(response).substring(0, 500) } };\n}\n\nlet extracted;\ntry {\n  let jsonStr = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  extracted = JSON.parse(jsonStr);\n} catch (e) {\n  return { json: { error: 'Failed to parse JSON', raw: content } };\n}\n\n// Seasonal booking link\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\n// Accident summary\nconst accidentSummary = extracted.num_injured > 0\n  ? 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.'\n  : 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n\n// SOL date (3 years from accident)\nlet solDate = '';\nif (extracted.accident_date) {\n  const d = new Date(extracted.accident_date);\n  if (!isNaN(d.getTime())) {\n    d.setFullYear(d.getFullYear() + 3);\n    solDate = d.toISOString().split('T')[0];\n  }\n}\n\n// Resolve nested accident_location\nconst accidentLocation = (typeof extracted.accident_location === 'object' && extracted.accident_location !== null)\n  ? (extracted.accident_location.full_location || JSON.stringify(extracted.accident_location))\n  : (extracted.accident_location || '');\n\n// Plate number\nconst clientPlate = (extracted.vehicle1 && extracted.vehicle1.plate_number)\n  ? extracted.vehicle1.plate_number\n  : (extracted.client_plate || '');\n\n// Client name\nconst clientFirstName = extracted.client_first_name || '';\nconst clientLastName = extracted.client_last_name || '';\n\n// Defendant name\nconst defendantName = extracted.defendant_name || '';\n\nreturn {\n  json: {\n    client_first_name: clientFirstName,\n    client_last_name: clientLastName,\n    client_full_name: (clientFirstName + ' ' + clientLastName).trim(),\n    defendant_name: defendantName,\n    accident_date: extracted.accident_date || '',\n    accident_date_formatted: extracted.accident_date || '',\n    accident_location: accidentLocation,\n    client_plate: clientPlate,\n    client_pronoun: extracted.client_pronoun || 'they',\n    sol_date: solDate,\n    has_injuries: (extracted.num_injured || 0) > 0,\n    num_injured: extracted.num_injured || 0,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    accident_summary: accidentSummary,\n    accident_description: extracted.accident_description || '',\n    _raw_extraction: extracted\n  }\n};\n"
        },
        "id": "parse-response",
        "name": "Parse LLM Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "respond-upload",
        "name": "Respond - Extracted Data",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "process-validated-data",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-validated",
        "name": "Webhook - Validated Data",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          304
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {},
        "id": "wait-doc",
        "name": "Wait - Document Generation",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1248,
          432
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "url": "=https://eu.app.clio.com/api/v4/matters/{{ $json.body.matter_id }}.json?fields=custom_field_values{id,custom_field}",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Clio - Get Matter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://eu.app.clio.com/api/v4/matters/{{ $('Webhook - Validated Data').item.json.body.matter_id }}.json",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => { const body = $('Webhook - Validated Data').item.json.body; const existing = $json.data.custom_field_values || []; const findId = (cfId) => { const f = existing.find(v => v.custom_field && v.custom_field.id == cfId); return f ? f.id : undefined; }; const mk = (cfId, value) => { const e = { custom_field: { id: cfId }, value: value }; const eid = findId(cfId); if (eid) e.id = eid; return e; }; return JSON.stringify({ data: { custom_field_values: [ mk(body.custom_field_ids.accident_date, body.accident_date), mk(body.custom_field_ids.defendant_name, body.defendant_name), mk(body.custom_field_ids.accident_location, body.accident_location), mk(body.custom_field_ids.client_plate, body.client_plate), mk(body.custom_field_ids.sol_date, body.sol_date), mk(body.custom_field_ids.num_injured, body.num_injured), mk(body.custom_field_ids.client_pronoun, body.client_pronoun) ] } }); })() }}",
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Clio - Update Matter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Prepare email data\nconst body = $('Webhook - Validated Data').item.json.body;\nconst clioDocUrl = $json.clio_document_url || '';\n\nconst currentMonth = new Date().getMonth() + 1;\nlet bookingLink, consultationType;\nif (currentMonth >= 3 && currentMonth <= 8) {\n  bookingLink = 'https://calendly.com/swans-santiago-p/summer-spring';\n  consultationType = 'in-office consultation';\n} else {\n  bookingLink = 'https://calendly.com/swans-santiago-p/winter-autumn';\n  consultationType = 'virtual consultation';\n}\n\nlet injurySummary;\nif (body.num_injured > 0) {\n  injurySummary = 'Based on the police report, injuries were sustained in the accident. Your health and well-being are our top priority, and we want to ensure you receive proper compensation for any medical expenses and pain and suffering.';\n} else {\n  injurySummary = 'Fortunately, no injuries were reported in the accident. However, you may still be entitled to compensation for property damage and other related expenses.';\n}\n\nreturn {\n  json: {\n    to_email: body.client_email || 'REDACTED@email.com',\n    subject: 'Retainer Agreement for Your Review – Richards & Law',\n    client_first_name: body.client_first_name,\n    client_full_name: body.client_full_name,\n    defendant_name: body.defendant_name,\n    accident_date_formatted: body.accident_date_formatted || body.accident_date,\n    accident_location: body.accident_location,\n    injury_summary: injurySummary,\n    booking_link: bookingLink,\n    consultation_type: consultationType,\n    clio_document_url: clioDocUrl\n  }\n};\n"
        },
        "id": "REDACTED-UUID",
        "name": "Prepare Email Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          288
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.to_email }}",
          "subject": "={{ $json.subject }}",
          "message": "=Dear {{ $json.client_first_name }},\n\nWe are pleased to share your Retainer Agreement for the matter of {{ $json.client_full_name }} v. {{ $json.defendant_name }} (accident on {{ $json.accident_date_formatted }} at {{ $json.accident_location }}).\n\n{{ $json.injury_summary }}\n\nYour Retainer Agreement is ready for review. Please download it securely here:\n{{ $json.clio_document_url }}\n\nTo schedule your {{ $json.consultation_type }}, please use the following link: {{ $json.booking_link }}\n\nBest regards,\nRichards & Law\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1648,
          288
        ],
        "id": "REDACTED-UUID",
        "name": "Send a message",
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"success\": true, \"message\": \"Processing complete. Retainer sent to {{ $('Prepare Email Data').item.json.to_email }}\"}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "REDACTED-UUID",
        "name": "Respond - Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1888,
          288
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "REDACTED-POSSIBLE-SECRET",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"summary\": \"Statute of Limitations - {{ $('Webhook - Validated Data').item.json.body.client_full_name }}\",\n    \"description\": \"SOL deadline for {{ $('Webhook - Validated Data').item.json.body.client_full_name }} v. {{ $('Webhook - Validated Data').item.json.body.defendant_name }}. Accident: {{ $('Webhook - Validated Data').item.json.body.accident_date }}.\",\n    \"start_at\": \"={{ (() => { const d = new Date($('Webhook - Validated Data').item.json.body.accident_date); d.setFullYear(d.getFullYear() + 3); return d.toISOString().split('T')[0] + 'T09:00:00Z'; })() }}\",\n    \"end_at\": \"={{ (() => { const d = new Date($('Webhook - Validated Data').item.json.body.accident_date); d.setFullYear(d.getFullYear() + 3); return d.toISOString().split('T')[0] + 'T10:00:00Z'; })() }}\",\n    \"matter\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.matter_id }} },\n    \"calendar_owner\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.calendar_id }} }\n  }\n}\n",
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Clio - Calendar Entry (SOL)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          656,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "REDACTED-POSSIBLE-SECRET",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"matter\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.matter_id }} },\n    \"document_template\": { \"id\": {{ $('Webhook - Validated Data').item.json.body.template_id }} },\n    \"filename\": \"{{ $('Webhook - Validated Data').item.json.body.client_full_name.replace(/ /g, '_') }}_Retainer_Agreement\",\n    \"formats\": [\"pdf\"]\n  }\n}",
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Clio - Generate Retainer",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          304
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "url": "=https://eu.app.clio.com/api/v4/document_automations/{{ $('Clio - Generate Retainer').item.json.data.id }}.json?fields=id,state,documents",
          "authentication": "REDACTED",
          "genericAuthType": "REDACTED",
          "options": {}
        },
        "id": "REDACTED-UUID",
        "name": "Clio - Get Automation Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1424,
          432
        ],
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1072,
          304
        ],
        "id": "REDACTED-UUID",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "REDACTED-UUID",
                "leftValue": "={{ $json.data.state }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1600,
          432
        ],
        "id": "REDACTED-UUID",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 1
        },
        "id": "REDACTED-UUID",
        "name": "Wait - Document Generation1",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1840,
          560
        ],
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Build Clio document link instead of downloading binary\nconst docId = $('Clio - Get Automation Status').item.json.data.documents[0].id;\nconst matterId = $('Webhook - Validated Data').item.json.body.matter_id;\nreturn {\n  json: {\n    ...($input.item.json),\n    clio_document_id: docId,\n    clio_document_url: `https://eu.app.clio.com/nc/#/matters/${matterId}/documents`\n  }\n};\n"
        },
        "id": "REDACTED-UUID",
        "name": "Download PDF from S3",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          288
        ]
      }
    ],
    "connections": {
      "Webhook - Upload PDF": {
        "main": [
          [
            {
              "node": "LLM - Extract Data from PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM - Extract Data from PDF": {
        "main": [
          [
            {
              "node": "Parse LLM Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse LLM Response": {
        "main": [
          [
            {
              "node": "Respond - Extracted Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Validated Data": {
        "main": [
          [
            {
              "node": "Clio - Get Matter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait - Document Generation": {
        "main": [
          [
            {
              "node": "Clio - Get Automation Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Get Matter": {
        "main": [
          [
            {
              "node": "Clio - Update Matter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Update Matter": {
        "main": [
          [
            {
              "node": "Clio - Calendar Entry (SOL)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Email Data": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Respond - Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Calendar Entry (SOL)": {
        "main": [
          [
            {
              "node": "Clio - Generate Retainer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Generate Retainer": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clio - Get Automation Status": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Download PDF from S3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait - Document Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Wait - Document Generation1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait - Document Generation1": {
        "main": [
          [
            {
              "node": "Clio - Get Automation Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download PDF from S3": {
        "main": [
          [
            {
              "node": "Prepare Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "REDACTED",
    "name": "Version 8d37ac74",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_sanitized": {
    "note": "Sanitized for public sharing",
    "timestamp": "2026-03-02T17:00:16.364Z"
  }
}