infuse-home-task.json
{
  "updatedAt": "2026-02-18T00:59:42.916Z",
  "createdAt": "2026-02-17T16:08:43.371Z",
  "id": "REDACTED-POSSIBLE-SECRET",
  "name": "INFUSE - HOME TASK",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2032,
        176
      ],
      "id": "REDACTED-UUID"
    },
    {
      "parameters": {
        "jsCode": "let allItems = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  // --- CASE 1: Reddit (Targeted Subreddits RSS) ---\n  if (json.feed && json.feed.entry) {\n    const entries = Array.isArray(json.feed.entry) ? json.feed.entry : [json.feed.entry];\n    \n    for (const entry of entries) {\n      const link = entry.link?.href || (Array.isArray(entry.link) ? entry.link[0]?.href : '') || '';\n      // Wyciągamy nazwę subreddita z kategorii, np. \"r/SaaS\"\n      const subreddit = entry.category?.label || 'Reddit'; \n      const contentParams = (entry.title || '') + '\\n' + (entry.content?._ || '');\n\n      allItems.push({\n        json: {\n          id: entry.id, \n          platform: `Reddit (${subreddit})`, // Np. \"Reddit (r/SaaS)\"\n          author: entry.author?.name || 'Unknown',\n          content: contentParams,\n          link: link,\n          date: entry.updated || entry.published || new Date().toISOString()\n        }\n      });\n    }\n  }\n\n  // --- CASE 2: LinkedIn (Apify Sync) ---\n  else if (json.activity_id) {\n    allItems.push({\n      json: {\n        id: json.activity_id,\n        platform: 'LinkedIn', \n        author: json.author?.name || 'Unknown',\n        content: json.text || json.content?.title || 'No text content',\n        link: json.post_url,\n        date: json.posted_at?.date || new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn allItems;"
      },
      "name": "Normalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        176
      ],
      "id": "REDACTED-UUID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "options": {}
      },
      "name": "Read Existing IDs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -672,
        272
      ],
      "id": "REDACTED-UUID",
      "executeOnce": true,
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "ID"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "name": "Deduplication",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -448,
        176
      ],
      "id": "REDACTED-UUID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Normalization').item.json.id }}",
            "Date": "={{ $('Normalization').item.json.date }}",
            "Content": "={{ $('Normalization').item.json.content }}",
            "Author": "REDACTED",
            "Platform": "={{ $('Normalization').item.json.platform }}",
            "Link": "={{ $('Normalization').item.json.link }}",
            "Quote": "={{ $json.output.quote }}",
            "AI_Relevance": "={{ $json.output.relevance }}",
            "AI_Summary": "={{ $json.output.reason }}",
            "Type": "={{ $json.output.type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Relevance",
              "displayName": "AI_Relevance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI_Summary",
              "displayName": "AI_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quote",
              "displayName": "Quote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        560,
        96
      ],
      "id": "REDACTED-UUID",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "text": "🚨 *High Relevance Lead Detected!*\n\n*Platform:* {{ $json.platform }}\n*Author:* {{ $json.author }}\n*Reason:* {{ $json.reason }}\n\n<{{ $json.link }}|View Post>\n\n> {{ $json.content.slice(0, 200) }}...",
        "otherOptions": {}
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        560,
        256
      ],
      "id": "REDACTED-UUID",
      "webhookId": {
        "_redacted": true
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED-API-KEY"
            },
            {
              "name": "memory",
              "value": "256"
            },
            {
              "name": "timeout",
              "value": "120"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "search_input",
              "value": "(AI OR ChatGPT) AND (struggle OR pain)"
            },
            {
              "name": "posted_at",
              "value": "past-24h"
            },
            {
              "name": "limit",
              "value": "={{10}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1584,
        -112
      ],
      "id": "REDACTED-UUID",
      "name": "LinkedIn Sync - Pain Points",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED-POSSIBLE-SECRET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REDACTED-API-KEY"
            },
            {
              "name": "memory",
              "value": "256"
            },
            {
              "name": "timeout",
              "value": "120"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "\"sales enablement\" OR \"content personalization\" OR \"whitepaper\" OR \"sales deck\" OR \"Seismic\" OR \"Highspot\""
            },
            {
              "name": "posted_at",
              "value": "past-24h"
            },
            {
              "name": "limit",
              "value": "={{50}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1584,
        80
      ],
      "id": "REDACTED-UUID",
      "name": "LinkedIn Sync - Buying Intent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1584,
        272
      ],
      "id": "REDACTED-UUID",
      "name": "XML to JSON",
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        144
      ],
      "id": "REDACTED-UUID",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1584,
        464
      ],
      "id": "REDACTED-UUID",
      "name": "XML to JSON1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a Lead Qualification Agent for INKHUB — a B2B tool that personalizes marketing whitepapers, case studies, and sales collateral for individual prospects at scale.  TARGET CUSTOMER (ICP): - B2B marketers, SDRs, GTM engineers, content teams at tech companies - People frustrated with: static PDFs, manual content editing, generic collateral, AI that sounds robotic, expensive ABM tools (Mutiny, Turtl, Uberflip, Seismic, PathFactory) - People searching for: content personalization, whitepaper tools, sales enablement, ABM content, lead magnets, repurposing content  CLASSIFY as HIGH relevance if: - Direct buying intent for content personalization, ABM, sales collateral, or lead magnet tools - Frustration with a specific competitor tool (Jasper, Mutiny, Turtl, Uberflip, Seismic, PathFactory) - Pain with scaling personalized content, manual editing of whitepapers/decks, or AI content quality for B2B - Pain with organizing, finding, or personalizing sales collateral, proposals, or case studies during the sales process - Struggling with content sprawl, version control of sales materials, or delivering the right content at the right time  CLASSIFY as MEDIUM if: - General marketing/content pain that INKHUB could solve, but no urgency or tool search - Discussing content strategy challenges tangentially related to personalization - Discussing ABM, lead magnets, or sales enablement in general terms without a specific tool need  CLASSIFY as LOW if: - Self-promotion (someone showcasing their own SaaS/tool/agency) - General SaaS advice, career/burnout posts, hiring, news - Voice AI, chatbots, robotics, non-content-related tools - Consumer/B2C marketing (Instagram growth, TikTok, influencer marketing) - General app-building or SaaS development unrelated to content creation/personalization - Cold email strategy, outbound tactics, or CRM discussions without content personalization angle - SEO/AEO strategy posts that don't mention content collateral or personalization  Output valid JSON only: {   \"relevance\": \"High\" | \"Medium\" | \"Low\",   \"type\": \"pain\" | \"intent\" | \"noise\",   \"reason\": \"Short explanation (max 15 words)\",   \"quote\": \"Extract the specific sentence triggering the decision\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -224,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1,
      "position": [
        -224,
        336
      ],
      "id": "REDACTED-UUID",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"relevance\": \"High\",\n  \"type\": \"pain\",\n  \"reason\": \"Short explanation (max 15 words)\",\n  \"quote\": \"Extract the specific sentence triggering the decision\"\n}"
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1.3,
      "position": [
        -80,
        336
      ],
      "id": "REDACTED-UUID",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $json.output.relevance }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $json.output.relevance }}",
              "rightValue": "Medium",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        320,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/marketing+digital_marketing+content_marketing+b2bmarketing+SaaS+Entrepreneur+smallbusiness+marketing_automation+sales+b2bsaas/search.rss?q=(\"whitepaper\" OR \"one-pager\" OR \"case study\" OR \"lead magnet\" OR \"sales deck\" OR \"sales enablement\" OR \"ABM\" OR \"content personalization\" OR \"marketing collateral\" OR \"sales collateral\" OR \"gated content\" OR \"personalize content\" OR \"repurpose content\" OR \"Jasper\" OR \"Mutiny\" OR \"Turtl\" OR \"Uberflip\" OR \"Seismic\" OR \"PathFactory\" OR \"Highspot\" OR \"Showpad\") -stock -crypto -invest&restrict_sr=1&sort=new&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1808,
        272
      ],
      "id": "REDACTED-UUID",
      "name": "Reddit RSS - Pain Points",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "entry",
              "value": "={{ $json.feed.entry }}",
              "type": "array"
            },
            {
              "id": "REDACTED-UUID",
              "name": "label",
              "value": "={{ $json.feed.category.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        512
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "entry",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1152,
        512
      ],
      "id": "REDACTED-UUID",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "subreddit",
              "value": "={{ $json.category.label }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "content",
              "value": "={{ $json.content._ }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        512
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/marketing+SaaS+Entrepreneur+digital_marketing+content_marketing+copywriting/search.rss?q=(\"AI\" OR \"ChatGPT\") AND (\"looking for\" OR \"recommend\" OR \"alternative\" OR \"expensive\")&restrict_sr=1&sort=new&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1808,
        464
      ],
      "id": "REDACTED-UUID",
      "name": "Reddit RSS - Buying Intent",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $json.output.type }}",
              "rightValue": "n",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        112,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "Filter1"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "LinkedIn Sync - Pain Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Sync - Buying Intent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit RSS - Pain Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit RSS - Buying Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalization": {
      "main": [
        [
          {
            "node": "Read Existing IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing IDs": {
      "main": [
        [
          {
            "node": "Deduplication",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Deduplication": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Sync - Pain Points": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Sync - Buying Intent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit RSS - Pain Points": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Reddit RSS - Buying Intent": {
      "main": [
        [
          {
            "node": "XML to JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-17T16:08:43.375Z",
      "createdAt": "2026-02-17T16:08:43.375Z",
      "role": "workflow:owner",
      "workflowId": "REDACTED-POSSIBLE-SECRET",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_sanitized": {
    "note": "Sanitized for public sharing",
    "timestamp": "2026-02-18T01:00:20.708Z"
  }
}