job-offer-mail-response-analyst.json
{
  "updatedAt": "2026-01-31T10:39:31.009Z",
  "createdAt": "2026-01-30T15:14:01.654Z",
  "id": "REDACTED-POSSIBLE-SECRET",
  "name": "Job offer mail response analyst",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "REDACTED-UUID",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2048,
        128
      ],
      "id": "REDACTED-UUID",
      "name": "Get row(s) in sheet",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED-UUID",
              "name": "Company Name",
              "value": "={{ $json[\"Company Name\"] }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        128
      ],
      "id": "REDACTED-UUID",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID",
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 2,
      "position": [
        -1840,
        128
      ],
      "id": "REDACTED-UUID",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 1. POBIERANIE DANYCH\n// ============================================================\n\nconst emails = $('Edit Fields').all().map(item => item.json);\nconst companies = $('Edit Fields1').all().map(item => item.json);\n\n// ============================================================\n// 2. PRZYGOTOWANIE FILTRA (Case Sensitive + Trim)\n// ============================================================\n\nconst companyKeywords = companies\n  .map(c => c[\"Company Name\"])\n  // Najpierw sprawdzamy czy istnieje i usuwamy spacje z obu stron\n  .filter(name => name) \n  .map(name => name.trim()) \n  // Teraz filtrujemy za krótkie. Zmieniam na >= 2, bo \"TP\" ma 2 litery. \n  // Jeśli masz dużo śmieciowych 2-literowych firm, zmień na > 2.\n  .filter(name => name.length >= 2); \n\n// ============================================================\n// 3. LOGIKA FILTROWANIA (Dokładne dopasowanie)\n// ============================================================\n\nconst matchedEmails = [];\n\nfor (const email of emails) {\n  // Pobieramy dane z maila BEZ zamiany na małe litery\n  const subject = (email.subject || \"\");\n  const body = (email.text || \"\");\n  const sender = (email.from || \"\");\n\n  // Szukamy dokładnego dopasowania (TP znajdzie \"TP\", ale nie znajdzie \"tp\" w https)\n  const foundCompany = companyKeywords.find(company => \n    subject.includes(company) || \n    body.includes(company) ||\n    sender.includes(company)\n  );\n\n  if (foundCompany) {\n    matchedEmails.push({\n      json: {\n        ...email,\n        matchedCompany: foundCompany\n      }\n    });\n  }\n}\n\nreturn matchedEmails;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1152,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 2,
      "position": [
        -1456,
        128
      ],
      "id": "REDACTED-UUID",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Przeanalizuj treść tego maila rekrutacyjnego.\n\nDANE WEJŚCIOWE (Zachowaj je w output):\n- Thread ID: {{ $json.threadId }}\n- Subject: {{ $json.subject }}\n\nDANE DO ANALIZY:\nNadawca: {{ $json.from }}\nTreść: {{ $json.text }}\nDopasowana firma: {{ $json.matchedCompany }}\n\nKATEGORIE:\n1. APPLICATION_RECEIVED - Automatyczne potwierdzenie (np. \"Thanks for applying\").\n2. REJECTION - Odmowa.\n3. INTERVIEW_INVITE - Zaproszenie na rozmowę, prośba o dostępność.\n4. OTHER - Spam, newslettery.\n\nZwróć JSON zawierający analizę ORAZ oryginalny temat i thread_id:\n{\n  \"company_name\": \"TU_WPISZ_NAZWE_FIRMY\",\n  \"category\": \"NAZWA_KATEGORII\",\n  \"reason\": \"Krótkie uzasadnienie po polsku\",\n  \"action_needed\": true/false,\n  \"original_subject\": \"TU_WPISZ_TEMAT_Z_INPUTU\",\n  \"thread_id\": \"TU_WPISZ_THREAD_ID_Z_INPUTU\"\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -688,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1,
      "position": [
        -688,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"TU_WPISZ_NAZWE_FIRMY\",\n  \"category\": \"NAZWA_KATEGORII\",\n  \"reason\": \"Krótkie uzasadnienie po polsku\",\n  \"action_needed\": true,\n  \"original_subject\": \"TU_WPISZ_TEMAT_Z_INPUTU\",\n  \"thread_id\": \"TU_WPISZ_THREAD_ID_Z_INPUTU\"\n}"
      },
      "type": "REDACTED-POSSIBLE-SECRET",
      "typeVersion": 1.3,
      "position": [
        -544,
        176
      ],
      "id": "REDACTED-UUID",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED-UUID",
              "leftValue": "={{ $json.output.action_needed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2592,
        16
      ],
      "id": "REDACTED-UUID",
      "name": "Gmail Trigger1",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "chatId": "5043684975",
        "text": "=<b>Firma:</b> {{ $json.output.company_name }}\n<b>Kategoria:</b> {{ $json.output.category }}\n\n<b>Temat:</b> {{ $json.output.original_subject }}\n\n<b>Uzasadnienie:</b>\n{{ $json.output.reason }}\n\n<b>Wymagana akcja:</b> {{ $json.action_needed ? '✅ TAK' : '❌ NIE' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Send a text message",
      "webhookId": {
        "_redacted": true
      },
      "credentials": {
        "_redacted": true
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": "REDACTED-UUID",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-30T15:14:01.657Z",
      "createdAt": "2026-01-30T15:14:01.657Z",
      "role": "workflow:owner",
      "workflowId": "REDACTED-POSSIBLE-SECRET",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T10:39:38.000Z",
    "createdAt": "2026-01-31T10:39:26.615Z",
    "versionId": "REDACTED-UUID",
    "workflowId": "REDACTED-POSSIBLE-SECRET",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "REDACTED-UUID",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "REDACTED-UUID",
                "name": "threadId",
                "value": "={{ $json.threadId }}",
                "type": "string"
              },
              {
                "id": "REDACTED-UUID",
                "name": "from",
                "value": "={{ $json.from.value[0].address }}",
                "type": "string"
              },
              {
                "id": "REDACTED-UUID",
                "name": "subject",
                "value": "={{ $json.subject }}",
                "type": "string"
              },
              {
                "id": "REDACTED-UUID",
                "name": "text",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2320,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "REDACTED-POSSIBLE-SECRET",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -2048,
          128
        ],
        "id": "REDACTED-UUID",
        "name": "Get row(s) in sheet",
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "REDACTED-UUID",
                "name": "Company Name",
                "value": "={{ $json[\"Company Name\"] }} ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1648,
          128
        ],
        "id": "REDACTED-UUID",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "ID",
          "options": {}
        },
        "type": "REDACTED-POSSIBLE-SECRET",
        "typeVersion": 2,
        "position": [
          -1840,
          128
        ],
        "id": "REDACTED-UUID",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// 1. POBIERANIE DANYCH\n// ============================================================\n\nconst emails = $('Edit Fields').all().map(item => item.json);\nconst companies = $('Edit Fields1').all().map(item => item.json);\n\n// ============================================================\n// 2. PRZYGOTOWANIE FILTRA (Case Sensitive + Trim)\n// ============================================================\n\nconst companyKeywords = companies\n  .map(c => c[\"Company Name\"])\n  // Najpierw sprawdzamy czy istnieje i usuwamy spacje z obu stron\n  .filter(name => name) \n  .map(name => name.trim()) \n  // Teraz filtrujemy za krótkie. Zmieniam na >= 2, bo \"TP\" ma 2 litery. \n  // Jeśli masz dużo śmieciowych 2-literowych firm, zmień na > 2.\n  .filter(name => name.length >= 2); \n\n// ============================================================\n// 3. LOGIKA FILTROWANIA (Dokładne dopasowanie)\n// ============================================================\n\nconst matchedEmails = [];\n\nfor (const email of emails) {\n  // Pobieramy dane z maila BEZ zamiany na małe litery\n  const subject = (email.subject || \"\");\n  const body = (email.text || \"\");\n  const sender = (email.from || \"\");\n\n  // Szukamy dokładnego dopasowania (TP znajdzie \"TP\", ale nie znajdzie \"tp\" w https)\n  const foundCompany = companyKeywords.find(company => \n    subject.includes(company) || \n    body.includes(company) ||\n    sender.includes(company)\n  );\n\n  if (foundCompany) {\n    matchedEmails.push({\n      json: {\n        ...email,\n        matchedCompany: foundCompany\n      }\n    });\n  }\n}\n\nreturn matchedEmails;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -928,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1152,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Merge"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "REDACTED-POSSIBLE-SECRET",
        "typeVersion": 2,
        "position": [
          -1456,
          128
        ],
        "id": "REDACTED-UUID",
        "name": "Remove Duplicates1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Przeanalizuj treść tego maila rekrutacyjnego.\n\nDANE WEJŚCIOWE (Zachowaj je w output):\n- Thread ID: {{ $json.threadId }}\n- Subject: {{ $json.subject }}\n\nDANE DO ANALIZY:\nNadawca: {{ $json.from }}\nTreść: {{ $json.text }}\nDopasowana firma: {{ $json.matchedCompany }}\n\nKATEGORIE:\n1. APPLICATION_RECEIVED - Automatyczne potwierdzenie (np. \"Thanks for applying\").\n2. REJECTION - Odmowa.\n3. INTERVIEW_INVITE - Zaproszenie na rozmowę, prośba o dostępność.\n4. OTHER - Spam, newslettery.\n\nZwróć JSON zawierający analizę ORAZ oryginalny temat i thread_id:\n{\n  \"company_name\": \"TU_WPISZ_NAZWE_FIRMY\",\n  \"category\": \"NAZWA_KATEGORII\",\n  \"reason\": \"Krótkie uzasadnienie po polsku\",\n  \"action_needed\": true/false,\n  \"original_subject\": \"TU_WPISZ_TEMAT_Z_INPUTU\",\n  \"thread_id\": \"TU_WPISZ_THREAD_ID_Z_INPUTU\"\n}",
          "hasOutputParser": true,
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -688,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "REDACTED-POSSIBLE-SECRET",
        "typeVersion": 1,
        "position": [
          -688,
          176
        ],
        "id": "REDACTED-UUID",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"company_name\": \"TU_WPISZ_NAZWE_FIRMY\",\n  \"category\": \"NAZWA_KATEGORII\",\n  \"reason\": \"Krótkie uzasadnienie po polsku\",\n  \"action_needed\": true,\n  \"original_subject\": \"TU_WPISZ_TEMAT_Z_INPUTU\",\n  \"thread_id\": \"TU_WPISZ_THREAD_ID_Z_INPUTU\"\n}"
        },
        "type": "REDACTED-POSSIBLE-SECRET",
        "typeVersion": 1.3,
        "position": [
          -544,
          176
        ],
        "id": "REDACTED-UUID",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "REDACTED-UUID",
                "leftValue": "={{ $json.output.action_needed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -336,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "If"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 15,
                "unit": "minutes"
              }
            ]
          },
          "simple": false,
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -2592,
          16
        ],
        "id": "REDACTED-UUID",
        "name": "Gmail Trigger1",
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "chatId": "5043684975",
          "text": "=<b>Firma:</b> {{ $json.output.company_name }}\n<b>Kategoria:</b> {{ $json.output.category }}\n\n<b>Temat:</b> {{ $json.output.original_subject }}\n\n<b>Uzasadnienie:</b>\n{{ $json.output.reason }}\n\n<b>Wymagana akcja:</b> {{ $json.action_needed ? '✅ TAK' : '❌ NIE' }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -48,
          0
        ],
        "id": "REDACTED-UUID",
        "name": "Send a text message",
        "webhookId": {
          "_redacted": true
        },
        "credentials": {
          "_redacted": true
        }
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Remove Duplicates1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "REDACTED",
    "name": "Version 48990066",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "_sanitized": {
    "note": "Sanitized for public sharing",
    "timestamp": "2026-01-31T11:00:17.186Z"
  }
}