tampermonkey-get-job-data.json
{
  "updatedAt": "2026-01-25T15:30:32.817Z",
  "createdAt": "2026-01-24T22:05:02.300Z",
  "id": "EHZiHIZf8aHAuyoLqQAsw",
  "name": "TamperMonkey GET JOB DATA",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "REDACTED-UUID",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Webhook",
      "webhookId": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED-POSSIBLE-SECRET",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": {
            "_redacted": true
          },
          "cachedResultUrl": {
            "_redacted": true
          }
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.query.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Get row(s) in sheet",
      "credentials": {
        "_redacted": true
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pobieramy ID z zapytania Webhooka (z węzła \"Webhook\")\n// Używamy .first(), żeby dostać się do danych z triggera\nconst queryId = $('Webhook').first().json.query.job_id;\n\n// 2. Pobieramy wiersze z Google Sheets (to są dane wejściowe do tego węzła)\nconst allRows = $input.all();\n\n// Debug (opcjonalnie)\n// console.log(\"Szukam ID:\", queryId);\n\nif (!queryId) {\n    return { json: { found: false, error: \"Brak parametru job_id\" } };\n}\n\n// 3. Szukamy pasującego wiersza (porównanie stringów, usuwamy spacje)\nconst matchedRow = allRows.find(item => \n    String(item.json.ID).trim() === String(queryId).trim()\n);\n\nif (matchedRow) {\n    const data = matchedRow.json;\n\n    // 4. Logika wyboru CV\n    // Domyślnie TECH, chyba że znajdziemy co innego\n    let cvType = 'TECH';\n    const title = (data.Title || '').toLowerCase();\n\n    // --- POPRAWKA: Używamy kolumny 'CV Recommended' ---\n    if (data['CV Recommended']) {\n        cvType = data['CV Recommended']; \n    } \n    // Fallback: Jeśli kolumna jest pusta, sprawdzamy tytuł stanowiska\n    else if (title.includes('manager') || title.includes('head') || title.includes('director') || title.includes('lead') || title.includes('owner')) {\n        cvType = 'MANAGER';\n    }\n\n    // 5. Budujemy czysty JSON dla Tampermonkey\n    return {\n        json: {\n            found: true,\n            id: data.ID,\n            score: data.Score,\n            cv_type: cvType,\n            cover_letter: data['Cover letter'] || \"Brak danych.\",\n            // Mapujemy kolumnę 'Notes' z arkusza na pole 'interview_brief'\n            interview_brief: data['Notes'] || \"Brak danych.\",\n            status: data.Status || \"new\"\n        }\n    };\n} else {\n    // Nie znaleziono wiersza\n    return {\n        json: {\n            found: false\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "REDACTED-UUID",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "_redacted": true
  },
  "pinData": {
    "_redacted": true
  },
  "versionId": "REDACTED-UUID",
  "activeVersionId": "REDACTED-UUID",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-24T22:05:02.304Z",
      "createdAt": "2026-01-24T22:05:02.304Z",
      "role": "workflow:owner",
      "workflowId": "EHZiHIZf8aHAuyoLqQAsw",
      "projectId": {
        "_redacted": true
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-24T23:02:00.000Z",
    "createdAt": "2026-01-24T23:01:45.692Z",
    "versionId": "REDACTED-UUID",
    "workflowId": "EHZiHIZf8aHAuyoLqQAsw",
    "nodes": [
      {
        "parameters": {
          "path": "REDACTED-UUID",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "REDACTED-UUID",
        "name": "Webhook",
        "webhookId": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "REDACTED-POSSIBLE-SECRET",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": {
              "_redacted": true
            },
            "cachedResultUrl": {
              "_redacted": true
            }
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "ID",
                "lookupValue": "={{ $json.query.job_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          208,
          0
        ],
        "id": "REDACTED-UUID",
        "name": "Get row(s) in sheet",
        "credentials": {
          "_redacted": true
        }
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          624,
          0
        ],
        "id": "REDACTED-UUID",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "jsCode": "// 1. Pobieramy ID z zapytania Webhooka (z węzła \"Webhook\")\n// Używamy .first(), żeby dostać się do danych z triggera\nconst queryId = $('Webhook').first().json.query.job_id;\n\n// 2. Pobieramy wiersze z Google Sheets (to są dane wejściowe do tego węzła)\nconst allRows = $input.all();\n\n// Debug (opcjonalnie)\n// console.log(\"Szukam ID:\", queryId);\n\nif (!queryId) {\n    return { json: { found: false, error: \"Brak parametru job_id\" } };\n}\n\n// 3. Szukamy pasującego wiersza (porównanie stringów, usuwamy spacje)\nconst matchedRow = allRows.find(item => \n    String(item.json.ID).trim() === String(queryId).trim()\n);\n\nif (matchedRow) {\n    const data = matchedRow.json;\n\n    // 4. Logika wyboru CV\n    // Domyślnie TECH, chyba że znajdziemy co innego\n    let cvType = 'TECH';\n    const title = (data.Title || '').toLowerCase();\n\n    // --- POPRAWKA: Używamy kolumny 'CV Recommended' ---\n    if (data['CV Recommended']) {\n        cvType = data['CV Recommended']; \n    } \n    // Fallback: Jeśli kolumna jest pusta, sprawdzamy tytuł stanowiska\n    else if (title.includes('manager') || title.includes('head') || title.includes('director') || title.includes('lead') || title.includes('owner')) {\n        cvType = 'MANAGER';\n    }\n\n    // 5. Budujemy czysty JSON dla Tampermonkey\n    return {\n        json: {\n            found: true,\n            id: data.ID,\n            score: data.Score,\n            cv_type: cvType,\n            cover_letter: data['Cover letter'] || \"Brak danych.\",\n            // Mapujemy kolumnę 'Notes' z arkusza na pole 'interview_brief'\n            interview_brief: data['Notes'] || \"Brak danych.\",\n            status: data.Status || \"new\"\n        }\n    };\n} else {\n    // Nie znaleziono wiersza\n    return {\n        json: {\n            found: false\n        }\n    };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          0
        ],
        "id": "REDACTED-UUID",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "REDACTED",
    "name": "Version 94195d64",
    "description": "",
    "autosaved": false
  },
  "tags": [],
  "_sanitized": {
    "note": "Sanitized automatically",
    "timestamp": "2026-01-25T23:03:12.712Z"
  }
}